[2021-12-06 09:19] midzer opened #4 "Additional apt dependency"
Hi Alex,

great project first of all! :+1:

After installation of release ` .deb` file via `dpkg -i` I wonder why there is an `thorium-browser-unstable.list` file in my `/etc/apt/sources.list.d/` now containing:

Currenty, I have Chrome stable from official sources installed. So there is a conflict now. Why Thorium needs this additional apt dependency?

Have a nice week
midzer

[2021-12-06 15:36] midzer opened #5 "Set default browser not working"
Hi again,

you can set the default browser in Chrom* via settings and inital toolbar button.

Somehow, this does not work for me in Thorium. Default browser is definetly not set.

Do you know what this might cause?

Cheers
midzer

[2021-12-07 00:36] Alex313031 commented on #4
@midzer It doesn't, this is a stupid quirk in the chromium source code. I am going to release a patch soon. It is perfectly safe to delete this.

[2021-12-07 00:43] Alex313031 commented on #5
@midzer This is an upstream bug. I noted it in https://github.com/Alex313031/Thorium/blob/main/BUGS.md I have pushed a "fix" that simply appends --no-default-browser-check in the .desktop file to prevent the annoying infobar every startup. You can still set it as the default in your window manager. In Ubunutu/PopOS/Gnome you can do that in settings. In xfce it's default applications. In openbox (w

[2021-12-07 09:27] midzer commented on #5
I am using Debian bullseye with Cinnamon Desktop and found Thorium via https://chromium.woolyss.com/#linux-64-bit and tested it immediately:

My Speedometer score went up 5 points (from 99 to 104) compared to latest Chrome Dev build (https://twitter.com/midzer/status/1467595495140900876). In addition Thorium "feels" way more fast and instant. Browsing with it is a real joy!

If I can support this

[2021-12-07 13:15] Alex313031 commented on #5
@midzer I'm using CrunchBangPlusPlus, a minimalist Openbox distro based on Debian Bullseye https://crunchbangplusplus.org/. And yeah, besides the various patches and installer changes, It is compiled with AVX, FMA, LOOP Optimizations, PGO, ThinLTO, and has CFlags and LDFlags set to 3, all of which increases the binary size by about 50mb compared to a vanilla chromium build, but increases performan

[2021-12-07 13:38] midzer commented on #5
Thanks for your introduction :)

Probably I can't help out with building Thorium as I'm running a rather ancient machine (i7-2600k Sandy Bridge) myself, too. Thats why I'm highly interested in those Thorium-Special AVX only builds. I made another issue and requested ARM32 builds for my Samsung S5 (from 2014).

If the project evolves and gets bigger, we might need a proper website for it. GitHub Pa

[2021-12-07 14:26] midzer commented on #5
I don't know how much FMA4 is worth it, but we could use it for Thorium repo and not remove it.

We could use Thorium-Special for ARM32/64 and older CPU builds (SSE4 only and AVX only).

Yeah, I OC'd my CPU yesterday to 4,5GHz in Turbo Mode Single Core :D

Jup, av1me uses ffmpeg and is a batch tool for many videos in a folder to convert them.

I'm from Munich, Bavaria as stated in my profile. Chec

[2021-12-07 14:52] midzer commented on #5
Okay, did not want to interfere with build strategy, just my two cents as I'm newbie :)

Have a look at https://docs.github.com/en/pages, custom URL would be probably better if projects matures.

THX for AVX build!

I can try ChromiumOS on one of my USB sticks, yes :)

[2021-12-07 15:06] Alex313031 commented on #5
No, you're not interfering at all.
And thanks.
And you is welcomz

Are you familiar with ChromiumOS? (just the equivalent open source project to ChromeOS i.e. Chromium <> Chrome & ChromiumOS <> ChromeOS.) The main thing is that ChromiumOS can run on non chromebook hardware, although there is a project called Brunch https://github.com/sebanc/brunch that allows booting ChromeOS on many regular PC's

[2021-12-10 04:44] Alex313031 commented on #4
@midzer This is now fixed in the latest release. It is the regular release though, so I will make an AVX only again for you. It would be good to sudo apt purge thorium-browser-unstable before installing this next one, to make sure no stale files are left behind.

[2021-12-10 06:20] midzer commented on #4
Thanks for your effort, @Alex313031 :+1:

But you don't **have** to release an AVX only (extra for me) so often. Current release is fine for me :)

Let's keep the project growing and spread the word.

[2021-12-10 06:26] Alex313031 commented on #4
Well I cant promise any frequency, but when me and my machine arent doing anything intensive (im just watching youtube), I just set the jobs to 7 to leave one core for my use. I just let it compile in the background so its really no big deal and I want everyone that uses thorium to have the latest stuff. If its just a minor version increase I might not make an AVX only build, but this one has upst

[2021-12-10 06:29] midzer commented on #4
Okay, just do how you like for release. I am plenty of happy already, because chromium is not maintained in debian any more...

For chromium, I've openen an issue there, see https://github.com/Alex313031/ChromiumOS/issues/2

[2021-12-10 06:30] Alex313031 commented on #4
I KNOW. SO FUCKING SAD. Im seriously considering contacting the www section and chromium maintainers for debian and offer to continue building for them.

[2021-12-10 06:32] Alex313031 commented on #4
@midzer Also the chromiumos thing is an issue with etcher not chromiumos, I noticed this too. Please use https://github.com/balena-io/etcher/releases/tag/v1.5.122

[2021-12-10 07:04] midzer commented on #4
I just tried latest release and this is fixed now. Awesome!

[2021-12-10 15:25] Alex313031 commented on #4
Wait are you talking about chromiumos or thorium?

[2021-12-10 15:39] midzer commented on #4
Thorium, we're in Thorium repo here :)

[2021-12-14 01:53] Alex313031 commented on #5
@midzer Going to close this issue now.

[2021-12-14 01:53] #5 closed

[2021-12-14 01:53] Alex313031 commented on #4
@midzer Going to close this now.

[2021-12-14 01:53] #4 closed

[2021-12-23 13:36] Neucher opened #8 "Any chance to get a non deb linux build ?"
Let's be honest if you care about bleeding edge compilation optimizations your probably running arch and not debian.

[2021-12-24 14:10] Alex313031 commented on #8
I use archlabs, a bunsenlabs inspired distro built on arch, and also crunchbangplusplus.
(crunchbang was a nice minimalistic distro using the openbox WM and debian, discontinued in 2015, it spawned crunchbangplusplus and bunsenlabs,and bunsenlabs birthed archlabs. All are good.
I actually do my thorium builds on crunchbangplusplus.
But yes I absolutely could offer a .zip that could be used portabl

[2022-01-01 19:49] Alex313031 commented on #8
@Lehner82  @midzer  I will be making portable linux builds today. It will be a .zip with the contents of the thorium .deb, plus the wrapper script thats installed in /usr/bin, but modified to not initiate logging, and set the user profile dir to a subdir of the extracted .zip file. It will also have a .deesktop file that is likewise modified that can be put in ~/.local/share/applications/ or ~/bin

[2022-01-01 20:58] Lehner82 commented on #8
Cool. Definitely gonna test that.

[2022-01-02 01:29] Alex313031 commented on #8
@Lehner82 @midzer  I've made a build in Thorium Special that has a portable .zip. This build is only for Haswell and higher CPU's though. If you have a CPU older than that or older than AMD Excavator or Ryzen 1, then it's okay because the next Thorium release and from here on out will have the portable zips. I also made a commit with a new folder called portable that has the files used for portabl

[2022-01-04 01:07] Alex313031 commented on #8
@Lehner82 Regular Thorium release with a portable .zip is now up. https://github.com/Alex313031/Thorium/releases/tag/M99.0.4803.0

[2022-01-15 15:14] loveencounterflow opened #9 "How to proceed after "illegal hardware instruction"?"
So after downloading of the latest release I did

[code]

which looked fine but then I got

[code]

What are the next steps to determine exactly what went wrong and whether I have to compile manually with which flags?

[2022-01-15 16:18] alvarlagerlof opened #10 "Flatpak?"
First of all, great project! You're doing exactly the things I've wanted for a long time. With that said, would it be possible to get a Flatpak version on flathub perhaps? That way it could be easily installed on a lot of distros without builds for each.

[2022-01-18 10:20] Alex313031 commented on #10
@alvarlagerlof  I am considering a PPA and maybe arch aur. After those are done, I will consider flatpak.

[2022-01-18 10:21] Alex313031 commented on #9
@loveencounterflow Thorium is compiled with AVX and AES instructions. What processor are you using? If it is older than intel sandy bridge or amd FX, it will fail to run. In this case I would reccomend getting an SSE4 release from thorium-special > https://github.com/Alex313031/Thorium-Special

[2022-01-18 10:25] Alex313031 commented on #9
@loveencounterflow If you would like to compile yourself, I would be more than happy to provide a walkthrough. I already have a guy I helped with compiling, and he now makes the tigerlake and macos builds in thorium-special. The readme kind of assumes you are already familiar with the Chromium workflow so. I have pretty much every social media and am willing to give it out and am pretty free as fa

[2022-01-19 20:32] loveencounterflow commented on #9
Yeah OK I think that pretty much rules it out. Here's my `/proc/cpuinfo`:

[code]

That'd take 12 parsecs to compile at the very least so... I'll forego that I guess...

[2022-01-23 16:07] Lehner82 commented on #8
I tried the portable zip on arch and fedora and it worked pretty flawlessly.

[2022-01-25 22:00] Alex313031 commented on #8
@Lehner82 Nice! Thorium-Win also has installers and a portable .zip with a readme inside if your interested. Also, im about to build with some new patches that will fix icons when distilling pages in reader mode, and adds a new UI element - a right click menu on the reload button that has three options: 'normal reload', 'hard reload', and 'clear cache and hard reload'

Also, I've been building for

[2022-01-25 22:03] Alex313031 commented on #9
@loveencounterflow I will make you a personal release, tuned for your specific architecture. Would you like one for the N2940, or another machine?

Thorium uses AVX and AES, but when I'm not doing anything, I'm more than happy to make special builds for special users with special use cases because we're all so special in this special, nerdy world lol.

[2022-01-26 06:05] Lehner82 commented on #8
@Alex313031 The portable Thorium-Win seems to work fine too.

I have a i9 9900k skylake and a 5850u AMD Ryzen 7. Would certainly be interesting if there's any difference past avx2.

[2022-01-27 01:36] Alex313031 commented on #8
@Lehner82 Not being a reddit style know it all here, but 9xxx is coffee lake refresh (but 7th through 10th gen are all really just optimizations of skylake). Which one would you like me to make a build for?

The thing is that avx and avx2 only trigger the AVX clock offset, while avx 512 will trigger it if ANY avx 512 is used. So what @midzer  (who makes the tigerlake and macos builds) has been doi

[2022-02-06 12:06] necros2k7 opened #13 "Latest"
subj

[2022-02-06 22:16] Alex313031 commented on #13
@necros2k7 You can run ./thorium-browser or the thorium-browser.desktop file. Both need to be made executable with sudo chmod +x yourfilehere

[2022-02-07 01:22] necros2k7 commented on #13
I thought this build is for Win sorry, can you build Win version?

[2022-02-07 04:46] Alex313031 commented on #13
@necros2k7 In the readme, it says that windows builds are at https://github.com/Alex313031/Thorium-Win and builds for mac and other architectures are at https://github.com/Alex313031/Thorium-Special
If you came here from https://chromium.woolyss.com it should auto detect your OS and offer downloads for it. Im always at the bottom with the AlexFrick tag. Linux and windows builds both come in an ins

[2022-02-07 07:33] #13 closed

[2022-02-09 23:37] Alex313031 commented on #10
@alvarlagerlof I decided against flatpak and aur, but I am working on making my PPA.

[2022-02-10 00:36] alvarlagerlof commented on #10
I see.

[2022-02-13 03:31] Alex313031 commented on #10
@

[2022-02-13 03:36] Alex313031 commented on #10
@alvarlagerlof Also, I specifically build Thorium with flags and against libc, and libnss versions that are slightly older than the chromium source provided ones to allow it to work on the largest amount of linux distros. The portable .zips can be used to install on distros that dont support .debs. There are instruction in the readme, but basically just copying the wrappers to /usr/bin/ and the .d

[2022-02-17 16:47] JPratama7 opened #14 "g sync not working?"
currently using my own pkgbuild.
windows version also not working

[2022-02-17 17:09] JPratama7 commented on #14
`--oauth2-client-id=77185425430.apps.googleusercontent.com
--oauth2-client-secret=OTJgUOQcT7lO7GsGZq2G4IlT`

current workaround, add to .desktop file

[2022-02-18 01:55] Alex313031 commented on #14
Nice. What do you mean windows version not working?
Would you be willing to share your package build?
And this is outlined in the readme. Thorium previously had no API Keys, but then I purchased a quota as API Keys without a quota are rate limited and so only good for personal use, not distribution like the packages I serve. So the Thorium repo has all source code needed, and the lines in args.gn

[2022-02-18 03:19] JPratama7 commented on #14
oh i see, i didnt know that, sorry
here my pkgbuild
https://github.com/JPratama7/test-cicd/blob/master/thorium/PKGBUILD

about that api key, i got it from a thread in stackoverflow
https://stackoverflow.com/questions/67459316/enabling-chromium-to-sync-with-google-account

[2022-02-18 09:02] raingart opened #15 "archlinux feature discussion"
1) i used the .zip version because the .deb version failed to install via debtap. (idk discord appeared in dependencies?)

![Screenshot from 2022-02-18 10-46-51](https://user-images.githubusercontent.com/13064767/154649183-0daaac70-240d-45ac-9d67-7e5040dc240c.png)

but the .zip version, does not read the file:
`~/.config/chromium-flags.conf`

of course I tried using `thorium-flags.conf` - fail

2)

[2022-02-18 12:01] raingart commented on #15
<details>
  <summary>I just write a script to read the file</code> (<i>click to expand</i>)</summary>

[code]
  </details>
</details>

and don't forget to replace the link with the script above in:
`~/.local/share/applications/thorium-browser.desktop`

[2022-02-19 01:15] Alex313031 commented on #14
Thats a nice packagebuild! Would you mind if I included it in the Thorium repo? I would credit you in the readme and in the file

[2022-02-19 03:32] Alex313031 commented on #15
Or you can also just run the flags with -- prepended to them on the cmdline or in the thorium desktop file.
In fact, if you look in the thorium-browser.desktop, I already have some added in there. When editing, please keep those flags in there, and the script that @raingart wrote will use both because of the $@ in it.

@raingart did you model that after the debian chromium wrapper script?

I might

[2022-02-19 03:58] Alex313031 commented on #15
@raingart Also, I do not plan on making a Thorium release for M87. 87 also has vulnerabilities that are being actively exploited in the wild. Do you know what the last version that accepts that flag is? If so, I would be happy to make a personal release of Chromium for you that has the compiler optimization stuff but not the other Thorium stuff at that version.

I have experience with arch, but ze

[2022-02-19 10:40] raingart commented on #15
As you wish.

I will write everything I know
### chromium-flags.conf
In [wiki.archlinux](https://wiki.archlinux.org/title/chromium#:~:text=.-,Making%20flags%20persistent,-Note%3A%20The) described how to use `chromium-flags.conf`.Same file only `chrome-flags.conf` is used by Chrome.

This method has there are 2 advantages:
1) It applies to all browser instances on startup. That is, it is unnecessar

[2022-02-19 15:32] JPratama7 commented on #14
sorry for late reply.

sure, no prob, i use debtap + google-chome pkgbuild + ms edge pkgbuild  to make that too

google sync

[2022-02-19 15:32] #14 closed

[2022-02-19 15:57] JPratama7 commented on #14
no, it's from chromium repository

[2022-02-20 08:40] Alex313031 commented on #15
@raingart  TabHoverCards,ExtensionsToolbarMenu,SharingQRCodeGenerator These have been enabled by default in recent versions so they removed the flags.
I understand not wanting the extensions toolbar menu, but you know you can just pin your extensions right? Also, are you saying you do or dont like the tab hover cards and QR generator. I find them very useful.

XDG_CONFIG_HOME only works with certa

[2022-02-20 08:58] Alex313031 commented on #14
@JPratama7 Hmm sync works in my testing, but I havent tested sync in the last two windows releases. I'll test my next release for sync and get back to you. And the chromium repo doesn't have public keys to enable sync? That would defeat the whole purpose of when they restricted api keys in march 15, 2021. Try Thorium on linux and win by themselves, the backed in API keys should work.

[2022-02-20 09:33] raingart commented on #15
yes that would be cool

As for the keys, I also use my keys. according to this instruction:
https://gist.github.com/cvan/44a6d60457b20133191bd7b104f9dcc4
https://github.com/micdech/chromium-starter/blob/main/init.sh

Didn't know about being able to see the flags
chrome://version

I don't know why, but version 99 doesn't allow you to drag it into the same window. just start dragging. A new window i

[2022-02-20 11:32] JPratama7 commented on #14
it's from an old commit in 2012.
here the link
https://chromium.googlesource.com/experimental/chromium/src/+/b08bf82b0df37d15a822b478e23ce633616ed959/google_apis/google_api_keys.cc

[2022-02-20 12:05] Alex313031 commented on #15
@raingart Yeah they made some annoying contributions to the bookmarks bar. Yeah, dragging tabs to and from windows has worked in every version of thorium for me including M99. Try right clicking title bar and checking (or unchecking depending on if its set or not) "use system title and borders". If it still doesnt work in either mode, I would say that yeah it is probably your WM.
And yeah, I like

[2022-02-20 16:31] raingart commented on #15
Yes, I heard but nothing good. What is a browser disguised as an operating system. And she was praised until recently for weak and useless netbooks. Which were supplied to USA schools and even there were little in demand.

But I haven't personally tested it for two reasons. I didn’t see any advantages in them. Why are they better than linux/windows/android. And the fact that everything that google

[2022-02-22 00:59] Alex313031 commented on #15
@raingart ChromiumOS ain't too bad. It's rather beautiful in my opinion. Android is ehhhhh. But compared to the walled garden of ios, i.e. can only get apps from the appstore, cant downgrade iOS, all browsers have to use webkit, developing for it is hard and closed source, I prefer android (even though right now I have an iPhone)

ChromiumOS doesn't work on virtualbox at all and wont ever. VMware

[2022-02-25 10:24] Alex313031 commented on #15
@raingart I'm making your M89 build now.

[2022-02-25 10:27] raingart commented on #15
Yippee!
How to download it?

[2022-02-25 10:29] Alex313031 commented on #15
@raingart Well its building right now. When its done ill post the deb in my snippets repo for u to download

[2022-02-25 10:30] Alex313031 commented on #15
@Alex313031 Also, I made a new chromiumos release. You should try it before you hate it lol.

[2022-02-25 10:32] Alex313031 commented on #15
@raingart Also remember, this is build of the last stable M89 for linux, and is not changed except for the build.gn to include the compiler optimizations of Thorium. Otherwise its completely vanilla, and the .deb also will not include the extras of the thorium .deb like chromedriver, content_shell, or pak.

[2022-02-25 10:36] raingart commented on #15
chromiumos - have to bang it again, eh..
By the way, have you heard about [dahliaos.io](https://dahliaos.io/) hybrid of GNU/Linux and Fuchsia OS
But WM is written in Flutter. Does not promise good optimization

[2022-02-25 10:48] Alex313031 commented on #15
@raingart Yup I have it installed in a virtual machine.

[2022-02-25 14:13] Alex313031 commented on #15
@raingart Also, this release wont have widevine. They introduced component widevine (i.e. not baked in) with version 90, where one can go to chrome://components and download the widevine cdm. Because I dont have access to chrome internal src, I didn't enable it. There's a patch used in debian that tells it to enable it anyway, and the modified the wrapper script in /usr/bin to tell it to search it

[2022-02-25 14:27] raingart commented on #15
Don't care about widevine. I can't remember in all the time I've used a browser that I've used DRM video.

I even disabled WebAssembly. It is the basis for future and current vulnerabilities. And in my experience it is used only in all sorts of lite webOS, 3d charts and other garbage that turns the browser into an OS. I am especially surprised by different IM clients that instead of developing a n

[2022-02-25 14:39] raingart commented on #15
Here's the [video](https://drive.google.com/file/d/14jtkIIxW4Auk86T0_HKURERwBlYWkN4v/view?usp=sharing) problem with dragging tabs. It only appeared in the new version of chromium.
This was the last straw of my patience

[2022-02-25 15:07] raingart commented on #15
I just tried running chromiumos_image.bin in gnome-boxes it does not accept the image as valid. Weird

[2022-02-25 15:11] Alex313031 commented on #15
@raingart Ok cool. And you're saying you disabled webassembly in your own chromium builds? how?
And yeah. Excluding firefox, almost EVERYTHING uses chromium now.
Chromium, edge, chrome, brave, torch, whale, opera, vivaldi, amazon silk, samsung browser, etc and in the form of electron or chromium embedded framework (CEF) in steam, discord, twitch, atom, etcher, github desktop, beaker browser, etc.

[2022-02-25 15:27] raingart commented on #15
@Alex313031, you should probably delete this issue. Because it has become a chat or a forum. I don't know if people here will find at least something useful?

You think too highly of me. I am my build. It was not I who was fond of adolescence and did my windows xp builds. But now I don't have enough brains to even compile and install a printer driver from source.

i just used a [flag to disable](h

[2022-02-25 15:29] raingart commented on #15
Wasm  won't load

![Screenshot from 2022-02-25 17-28-30](https://user-images.githubusercontent.com/13064767/155741915-c18e2f82-2a7a-4d54-a523-cf0024498b22.png)

[2022-02-25 15:37] raingart commented on #15
My PC must meet the hardware requirements cpu haswell 8/16 / 24ram / amd gpu rx 480 (polaris). But the image from the flash drive does not load further than grub.
So I'm 80% sure that the new chromiumOS image will not load now either.

[2022-02-25 15:45] Alex313031 commented on #15
@raingart Ehh sometimes my issues turn into conversations, I just leave em up till the conversation is done.

My brain died trying to understand this > "You think too highly of me. I am my build. It was not I who was fond of adolescence and did my windows xp builds."

And ok I was gonna say, it would take ALOT of work to disable webassembly in source.

And cool that you're on the web store! I have

[2022-02-25 16:14] raingart commented on #15
lol. I already just used google translate. I was too lazy to check the final translation. So 50% of the nonsense I wrote is his fault.

I have a specially built PC for [RPCS3](https://rpcs3.net/) emulator. The main thing is that the cpu supports TSX instructions. I even had to [disable IntelME](https://github.com/corna/me_cleaner) and downgrade the microcode version.

Yes i used the  [Hack TURBO B

[2022-02-25 16:20] Alex313031 commented on #15
What are you saying that you are your build, and what do you mean about windows xp, are you saying you used to build chromium for windows xp?

And yeah, I read about re-enabling TSX for RPCS3 in a forum. And cool you got a 5960x. And why an external USB DAC?

Are you using the latest chromiumos release? How did you write it to the USB drive? And are you booting it in a VM or actual hardware?
If it

[2022-02-25 17:14] raingart commented on #15
Because the built-in sound card sucks. And there is no 24bit/192kHz audio

About your builds of windows XP
It was in a galaxy far, far away. When did the first dinosaurs.

Then they still didn’t hear about windows 7. And a monster called Windows Vista came out. I then rummaged through various bad forums. And then it was fashionable to decorate the only people's PS windows XP.

I collected differen

[2022-02-25 17:34] raingart commented on #15
All google services are unstable and can run several times a day. In fact, they break regularly. especially google cloud
![Screenshot from 2022-02-25 19-18-42](https://user-images.githubusercontent.com/13064767/155759002-d12a70c1-5cc9-4d05-abb3-9a1ce0fd7e09.png)

And APK and extension moderation is just awful. And the search since 2018 does not show anything except the [bubble](https://en.wikipedi

[2022-02-25 17:36] raingart commented on #15
@Alex313031 please surely delete this issue. And then I will not be ashamed, and I will be calm

[2022-02-25 18:01] Alex313031 commented on #15
Yeah I hate manifest ver. 3. And we got on xp because of "You think too highly of me. I am my build. It was not I who was fond of adolescence and did my windows xp builds." And I still don't understand what you're saying? You made modifications to XP, by using different sources? And so you did or didn't compile chromium for xp?
That's cool that you have all those extensions. I'll take a look at th

[2022-02-25 18:09] Alex313031 commented on #15
@raingart Also, see. It wants you to pay $5.
![Screenshot_2022-02-25_12-06-56](https://user-images.githubusercontent.com/45863095/155765672-bfcdd24e-11f6-4780-91d1-61d1bb0005df.png)

[2022-02-25 18:24] raingart commented on #15
Oh, I don't remember. I think it was like that too. This is a one-time payment. As I understood it to filter schoolchildren with their viruses. There is no further charge for anything.

Google Play developer account. It costs only $25 and this fee, unlike the App Store, is charged only once, at registration.
I don’t remember the App Store, an acquaintance in 2012 seemed to pay $100.
And on Steam n

[2022-02-25 18:27] raingart commented on #15
When you want to share with all your developments. I have a desire to do something. Everything has its time. There are many things I would not do now, but have done in the past. Because then I wanted it. Why live at all if you don’t embody your desires, albeit insignificant

[2022-02-25 18:45] raingart commented on #15
btw instead of
`sudo fdisk -l`
im use
`lsblk`

![Screenshot from 2022-02-25 20-44-16](https://user-images.githubusercontent.com/13064767/155770520-ecfa2c80-1780-4f42-b2ae-0f3fbe31c08c.png)

[2022-02-25 20:30] Alex313031 commented on #15
Here's your chromium 89. > https://github.com/Alex313031/Snippets/releases/tag/chromium
Also did you make your name after @reingart

[2022-02-25 21:04] raingart commented on #15
Wonderful. Dragging tabs, everything works. It`s perfect.

[2022-02-25 21:21] Alex313031 commented on #15
Ohh ok then it might be an upstream thing if 89 works and newer doesn't. Was it just thorium, or did you try arch's chromium?

[2022-02-25 21:22] Alex313031 commented on #15
Oh and also, how are you installing it on arch? Are you extracting the data.xz from the .deb

[2022-02-25 21:40] raingart commented on #15
100% drag and drop tabs. Folder tabs open on hover. The only thing is that there is no dark mode in the settings. I don't remember if it was in the original chromium of that version.

here I quickly tweaked the PKGBUILD version from JPratama7
[PKGBUILD.txt](https://github.com/Alex313031/Thorium/files/8144924/PKGBUILD.txt)

to install in archlinux
1. put in the same directory `PKGBUILD` and `chromi

[2022-02-25 21:49] raingart commented on #15
I almost forgot that if links from external applications do not open in chromium.
It's easy to fix

open '~/.config/mimeapps.list'
and add or replace existing lines
[code]

where `chromium-browser-stable.desktop` is the name of the browser shortcut

You can delete this file just in case.
`~/.local/share/applications`

everything can be done through terminal. If you are not good at auto-replace in

[2022-02-25 22:11] raingart commented on #15
And chromiumos didn't boot.
Now even grub is empty
I took a video on my phone. Just a demonstration that I'm not lying because I don't want to deal with this OS. And that she is fortunately unloaded

Warning [video](https://drive.google.com/file/d/1ATM7y-SdtbcSQQQg1mBudwUTgMyeG3Fa/view?usp=sharing) is useless! Just the grub console is loading

[2022-02-25 22:19] raingart commented on #15
And no, there are problems. Video is not working.

![Screenshot from 2022-02-26 00-18-11](https://user-images.githubusercontent.com/13064767/155810702-aa0f2386-d044-4e8a-8752-f64a86388c0e.png)
![Screenshot from 2022-02-26 00-17-57](https://user-images.githubusercontent.com/13064767/155810704-83a5f6ec-990c-4a08-8eac-994449d0eb0d.png)

now I'll try to run it without flags

[2022-02-25 22:33] raingart commented on #15
And don't care what doesn't work. And wasted so much of your time. Thanks for helping me. I hope that you have learned at least something new and useful. Or at least you were not bored.
Good luck!

ps delete this damn issue

[2022-02-26 03:16] Alex313031 commented on #15
@rain

[2022-02-26 03:24] Alex313031 commented on #15
Here I also reccomend parallel downloading and ftp support. Just look at all those flags and set those.
![Screenshot_2022-02-25_21-23-01](https://user-images.githubusercontent.com/45863095/155827043-27e3e950-6291-4abf-9030-c8ef0c31995b.png)
![Screenshot_2022-02-25_21-22-50](https://user-images.githubusercontent.com/45863095/155827045-b6c17159-93f9-4b43-8781-2c69075e36fc.png)

[2022-02-26 07:13] AnterCreeper opened #16 "hevc support?"
hardware vaapi or software?

[2022-02-27 19:33] Alex313031 commented on #16
@AnterCreeper Although the build flags for HEVC are enabled, YMMV on whether it actually works. If it does work, it should use VAAPI. If you have an nvidia gpu and are using the nvidia proprietary drivers, however, the VDPAU patch in this repo will NOT apply. That patch only works with H.264 and VP8/VP9.

[2022-03-04 00:31] alvarlagerlof commented on #10
That's great to hear, but I'm afraid I am not personally interested in the manual approach and backwards compatibility that far back. Good luck!

[2022-03-07 12:25] raingart commented on #15
sorry @Alex313031 for not answering for a long time. There were many problems. To sum up, you were right that the problem was with the flags.
I thought that if you convect and install the file in archlinux and not use portable mode, then reading will start when you run chromium-flags.conf. What gave me confidence was that in the [official file] (https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD

[2022-03-08 11:16] petar-staynov opened #17 "Sync not working - Windows"
I can't get Google Sync to work on neither the AVX M101.0.4918.0 or the AVX2 M101.0.4921.0 Windows build.
After clicking the "Turn On Sync" button and entering my Google account details,
my account gets logged in into Google, but not the browser where it still says "Not Signed In"

[2022-03-08 18:52] Alex313031 commented on #15
@Cool on getting stuff to work. I will look into that user script. Chromium is never compiled with any AVX by default, otherwise it would break compatibility with old CPUs. They did experiment with it. But no, Chromium used SSE2 since M39, and SSE3 since M89. AVX has to be manually added. Using AVX does indeed have performance improvements. AVX2 is negligible, but people want it. I made a new repo

[2022-03-08 19:00] Alex313031 commented on #17
@petar-staynov Even though this repo hosts the source code, you should put windows bugs in the windows repo or bugs on the avx2 build in that repo, not here.
Sync works for me, I'm using M101.0.4921.0.
Make sure to enable it by going into the settings and setting up sync, not after signing in on gmail or something.
If it still doesn't work, it is possible that I used my personal API Keys in this b

[2022-03-08 19:17] raingart commented on #15
[here](https://github.com/Alex313031/Thorium-Win/issues/2#issuecomment-1057661590). I just re-read the post and realized I was wrong. I don’t know why, but after a few days, only the first part of the sentence remained in my memory. Apparently not only the memory in my video card is degrading, but also in my brain.

As for AVX, I remember when it appeared discussions on the forums that it is not v

[2022-03-08 19:19] raingart commented on #15
This is probably my last post. I then I started a chat here with my useless chatter. Which has no practical value.
Thank you again @Alex313031

[2022-03-08 19:20] petar-staynov commented on #17
I made sure to try and set up sync from Settings, not from logging in any google site.

I tried **9th Release - M100.0.4888.0** and setting up Sync works correctly there.
Surprisingly after updating to **10th Release**, Sync was still working.
I then updated to **2nd Release - M101.0.4921.0 - AVX2** and Sync still works.

It seems installing the 9th release and setting up sync there fixes the issu

[2022-03-08 20:17] Alex313031 commented on #17
@petar-staynov That is strange. Glad it worked for you. Can you try the portable M101.0.4921.0 .zip and run the thorium.bat in there and try sync in that with the fresh profile. Report if it doesn't work on that. You can just delete the folder after.

[2022-03-08 22:01] petar-staynov commented on #17
Sync works there too.
Maybe the issue I had was due to leftover files from previous Chromium installs.

[2022-03-09 00:10] Alex313031 commented on #17
@petar-staynov Ok closing this issue

[2022-03-09 00:10] #17 closed

[2022-03-09 01:41] Alex313031 commented on #15
@raingart AVX is the single most performance enhancing of all the compiler flags in thorium. AVX affects floating point as well as vector calculation. Compiling with AVX speeds up V8 (the javascript engine) and WebUI elements in the browser the most. AVX helps many things besides cryptography and 3d modeling. And you may be right about the .deb to .pkg, I will try to look into it.
And dahliaos is

[2022-03-10 06:52] n006 opened #18 "Change font and icon color from tab section"
The red color in the tab section is irritating for some peoples eyes.
Would it be possible to change that to its standard font color?

Thank you in advance.

[2022-03-10 07:12] #18 closed

[2022-03-10 07:14] n006 commented on #18
The issue already has been raised in Thorium-Special.

[2022-03-13 18:09] Unixware opened #19 "some issues under XFCE"
Its a bit strange but on debian sid (XCFE) this browser is not visible on the preferred apps (default browser) also by running the /usr/bin/thorium*  ("star" as  for a strange reason you install two scripts one as "stable" and the other as "umstable" ) it pauses the profile. I did the installation via your .deb file anyway. IMHO something is broken there or bad mix of scripts. thanks!

[2022-03-18 21:30] Alex313031 commented on #19
Reopened issue. Did you resolve it and if so, how? And there is thorium-browser which is a symlink to thorium-browser-unstable. There shouldn't be any file called thorium-browser-stable.

[2022-03-18 21:38] Unixware commented on #19
thanks but no need to re-open , if I uninstall the firefox , then the thorium is the "default"

[2022-03-18 21:38] #19 closed

[2022-03-19 16:37] parisni opened #20 "problem with session / cookies or something ?"
Hello,

Sorry for this confuse issue, I am running thorium on ubuntu 20.04 installed with the deb package
and something goes wrong with user sessions. Whenever I turn off thorium then I have to login
in every single websites I was logged (eg: gmail)

I don't have this behavior with chromium. Any idea ? Otherwize everything works great, thanks for your work

[2022-03-20 01:30] Alex313031 commented on #20
@parisni Hmmm. Which version are you using? I will try to recreate in a 20.04 VM and investigate.

[2022-03-20 17:08] parisni commented on #20
I am using `Version 101.0.4916.0 (Official Build) unstable (64-bit)`.

[2022-03-21 16:21] Alex313031 commented on #20
@parisni do a sudo apt purge thorium-browser-unstable, then move/rename/remove the ~/.config/thorium user profile folder, then install the latest release (101.0.4949.0) and see if the issue still happens.

[2022-03-22 10:25] Bounty780 commented on #20
I can confirm that the issue is also in Thorium-Win-AVX2, `Version 102.0.4952.0 (Official Build) (64-bit)`. It appears to be only with Google cookies.

[2022-03-23 13:57] parisni commented on #20
I guess turning OFF `setting > profile > Allow Thorium sign-in`
helps me a lot

[2022-03-23 16:43] Bounty780 commented on #20
Where is that?

[2022-03-24 08:45] parisni commented on #20
its in `sync and google service`

[2022-03-24 13:26] Alex313031 commented on #20
@parisni @Bounty780 @midzer This has to do with the baked in api keys. Similar issue when trying to enable sync. Follow instructions at https://github.com/Alex313031/Thorium-Win/issues/9

[2022-03-26 00:11] Alex313031 commented on #20
@parisni @Bounty780 You could also turn sign in off if you don't use it.

[2022-03-28 16:58] parisni commented on #20
On Sat Mar 26, 2022 at 1:11 AM CET, Alexander David Frick wrote:

Yeah, that's what I did, and my troubles mostly disapeared on this side.

[2022-03-31 11:11] #20 closed

[2022-04-06 08:54] Alex313031 commented on #9
@loveencounterflow I made an SSE4 release for you and my old laptop. https://github.com/Alex313031/Thorium-Special/releases/tag/M102.0.4985.0

[2022-04-08 15:01] Alex313031 commented on #16
@AnterCreeper You there mate, I'm going through my issues that haven't had a response in a month.

[2022-04-09 15:31] jestxfot opened #22 "Portable version"
Will the cookie decryption feature ever be added to give the browser full portability?

[2022-04-11 09:05] jestxfot commented on #22
The browser does not have a portable version. And I would like to have it in the first place, and secondly, in it did not leave the accounts. @Alex313031

[2022-04-11 15:01] Alex313031 commented on #22
@jestxfot Each release has a portable .zip with scripts inside, .desktop files for desktop integration, and a readme.txt on usage.

[2022-04-12 19:25] williamjnrkdd opened #23 "Google sheets does not show properly"
The preview of the sheet on Thorium 102.0.4976.0 unstable
![image](https://user-images.githubusercontent.com/44339866/163037802-43e61ae4-707c-45fc-899d-4a3bd99b14a4.png)
The preview of the same sheet on Firefox just to show what the sheet should actually look like:
![image](https://user-images.githubusercontent.com/44339866/163038068-07b7aff7-3b0a-44a1-a098-3380b556ec39.png)
 This happens not only

[2022-04-12 19:39] Alex313031 commented on #23
@williamjnrkdd What OS are you using, and what DE? Can you send a link of a populated google sheet for me to test?
Thanks for using Thorium!

[2022-04-12 19:40] Alex313031 commented on #22
@jestxfot How's it coming?

[2022-04-12 19:41] Alex313031 commented on #8
@Lehner82 Going back through my issues. Would you still like a custom build? If so, for which machine/cpu?

[2022-04-12 19:43] Alex313031 commented on #15
@raingart Revisiting Arch. Can you post where that pkgbuild is again? And can that be just updated for each release? If I wanted to add Thorium to the AUR, how would I go about doing that.

[2022-04-12 19:48] williamjnrkdd commented on #23
I am using Parrot OS 4.11 . My apologies but what is the full meaning of DE?

[2022-04-12 19:55] Alex313031 commented on #23
@williamjnrkdd Desktop Environment
No need for apologies. And ok

[2022-04-12 19:58] williamjnrkdd commented on #23
I am using MATE. I have accepted your access request.

[2022-04-12 20:00] Alex313031 commented on #23
@williamjnrkdd Hmmm it shows up fine for me and Im using the same version on crunchbangplusplus, a debian based distro just like parot os. Lemme ask, did you have chromium installed before installing thorium? Or are you using them side by side?

[2022-04-12 20:04] williamjnrkdd commented on #23
@Alex313031 Actually I was using chromium before but had issues opening it. I tried to completely remove and reinstall but still had the same error. So i completely removed it, i think ( i did all i knew) and then i installed Thorium.

[2022-04-12 20:11] Alex313031 commented on #23
Ok, I would like you to do a sudo apt remove --purge chromium* and then sudo apt remove --purge thorium*
Then, go to ~/.config/ and move or rename the chromium folder and thorium folder (to back them up)
Then, install latest Thorium release from here, i.e. sudo dpkg -i thorium-browser.......etc. > https://github.com/Alex313031/Thorium/releases/tag/M102.0.4976.0

[2022-04-12 20:15] williamjnrkdd commented on #23
Okay. I am testing. I would get back to you soon.

[2022-04-12 20:26] williamjnrkdd commented on #23
I just finished and it is still the same.

[2022-04-12 20:26] Alex313031 commented on #23
Ok, do you have any flags set?

[2022-04-12 20:27] Alex313031 commented on #23
Wait nvm its using a fresh user profile dir. In that case, try going to chrome://flags/#ignore-gpu-blocklist and chrome://flags/#enable-container-queries and setting them both to enabled, then restart Thorium and test.

[2022-04-12 20:38] williamjnrkdd commented on #23
I just tried that too and I still get that on google sheets. I also just noticed that every time i restart the browser I have to login again into my google account. I am only saying this if it may help in some way to identify where the problem is coming from.

[2022-04-12 20:44] Alex313031 commented on #23
Do you have google sync on?

[2022-04-12 20:49] Alex313031 commented on #15
@raingart Oh yeah, it was him not you that originally created the pkgbuild.

[2022-04-12 20:51] williamjnrkdd commented on #23
I tried that and it didn't work for me. I click on turn on sync. It leads me to a google sign in page. I login and I can see i have been logged in on youtube and all other google products but when i tap the account icon in thorium(where i tapped turn on sync), it still says turn on sync. @Alex313031

[2022-04-12 20:52] Alex313031 commented on #23
@williamjnrkdd Here add yourself to this google group as per the instructions in the previous release.
https://github.com/Alex313031/Thorium/releases/tag/M101.0.4949.0

[2022-04-12 21:00] williamjnrkdd commented on #23
Oh I see. I have joined the group. @Alex313031

[2022-04-12 21:52] jestxfot commented on #22
I'm not quite sure how this helps me with the portable version, but I'll try to figure it out. I'll write later @Alex313031

[2022-04-13 00:29] Alex313031 commented on #23
@williamjnrkdd Did that fix it?

[2022-04-13 04:38] williamjnrkdd commented on #23
@Alex313031 yes it solved the problem with the sync but not the google sheets issue.

[2022-04-13 16:16] Alex313031 commented on #23
@williamjnrkdd That's so weird. I'll post here and let you know when I make a new linux release (soon) and then you can try that. Because otherwise IDK what the issue would be.

[2022-04-13 16:51] jestxfot commented on #22
Yes, I do, but it doesn't help me much in this case anyway. It doesn't move active account sessions @Alex313031

[2022-04-13 18:24] Alex313031 commented on #22
@jestxfot Make sure you are added to this google group as per this instruction from previous release.

To enable sync on these releases, please add your google account to https://groups.google.com/u/1/a/chromium.org/g/google-browser-signin-testaccounts as per the official documentation at https://www.chromium.org/developers/how-tos/api-keys/#signing-in-to-chromium-is-restricted

[2022-04-14 12:24] williamjnrkdd commented on #23
I understand. Thank you for your help.

[2022-04-16 03:19] JPratama7 commented on #15
sure no problem.

[2022-04-18 16:15] Neucher opened #24 ".desktop file symlink"
ln -s /home/user/Downloads/thorium-browser_102.0.4976.0-1_amd64/thorium-browser.desktop /home/user/.local/share/thorium-browser.desktop and in /usr/share/applications doesn't work for me. Did anyone manage to get it working ?

[2022-04-18 19:58] Alex313031 commented on #24
The .desktop file is designed for portable mode, and will only work properly without modification from within the thorium dir.
See > https://github.com/Alex313031/Thorium/blob/main/portable/README.linux

You should edit the Exec lines to point to the actual location of thorium including the --user-data-dir part, and you can do the same for the Icon lines to point to the actual location in the thor

[2022-04-19 15:53] gz83 commented on #24
Alex, I would like to ask, does version 103 fix the problem of setting search and need to use compatibility mode to open the browser?

[2022-04-19 23:43] Alex313031 commented on #24
@Lehner82 Did that fix your issue?
And Im actually building it right now, and then I will test.

[2022-04-22 21:40] Lehner82 commented on #24
Sadly not I'm using arch linux and I'm trying to make thorium show up in my run launcher dmenu. So far I can only launch it via terminal

[2022-04-24 04:52] Alex313031 commented on #24
@Lehner82 Did you modify the .desktop file? If you dont want to, I can do it for you, as long as you provide your home folder name i.e. mine is /home/alex/ and where you're going to store thorium i.e. /home/alex/bin

[2022-05-03 12:29] Alex313031 commented on #23
@williamjnrkdd Try the latest release and see if it still does this

[2022-05-04 12:45] trimechee opened #25 "Some suggestions and resquests"
Hello, thank you very much for this awesome and wonrderful Browser !

Please I have sommes suggestion request to make Thorium Browser even more wonderful ! it will be goog idea to add a new options not found in other browsers, add a button on the main bar to easily enable the Auto Dark Mode for Web Contents chrome flag and quickly disable it, enable reader mode flag  recently deleted by chromium (

[2022-05-05 09:18] Alex313031 commented on #25
@trimechee I will work on a dark mode button, I'll look into the reader mode flag, I will look into full buffer streaming.
About having an ad blocker dns, that would be difficult to add and maintain, and everyone has there own idea about what blocklist to use. I will probably not implement that.

And what do you mean the same version?
Thorium is based on tip-of-tree chromium, so the latest. Roughl

[2022-05-05 10:51] trimechee commented on #25
@Alex313031  Great !! Thank you very much for your wonderful efforts and kindness to make this excetopnal browser !

The main problem is that chromium and other web browsers do not buffer enough when you have a weak wifi connection and the video is in high resolution HD, so force buffer video can solve this problem for those who do not have a connection weak internet, i found two methods how to fo

[2022-05-05 11:07] trimechee commented on #25
@Alex313031 Yes i undersatand, thank you :)

I just point out that chromium has a "secure dns" section where there is a default list of secure dns like the one from couldflare, google dns, cleanbrowsing, open dsn, this is a good list that block viruses but don't block ads, d 'where my suggestion to add another ad blocker dns for simplicity, because sometimes the dns become heavy or have false post

[2022-05-05 18:08] Alex313031 commented on #25
@trimechee Thorium is always newer than the other releases on woolyss.com. This means Thorium will actually get fixes faster than the others. The Thorium version corresponds with the Chromium version.  And yeah I might look into dns lists.

[2022-05-05 19:05] trimechee commented on #25
Awesome fantastic ! Tahnk you very much :) I will try to I will try to install it in sha Allah !

if I understand correctly, version 103.0.5036.0 is as secure as version 101.0.4951.54? and version 103.0.5036.0 has the same security patches as version 101.0.4951.54? I thought the chromium version 103.0.5036.0 is an experimental version or beta alpha version....

in this site, it says that the chrom

[2022-05-05 19:14] Alex313031 commented on #25
@trimechee No, they are not equivalent. The upstream source tree is always ahead of the stable releases. See here > https://chromiumdash.appspot.com/schedule

So Thorium has *more* patches than chrome, it is just not as stable.

[2022-05-05 19:21] trimechee commented on #25
Interesting, thank you for these clarifications :) iforget to post the website : https://www.filehorse.com/download-google-chrome/

another question please, is Thorium Browser based on Ungoogled-Chromium or classic chromium?

[2022-05-05 19:22] trimechee opened #27 "Upscale or stretch any video on the web"
Hello, this necessary and important extension because we watch a lot of streaming sites and often there are side black bars and this extension allows to remove them, I tried with Chromium and Ungoogled-Chromium and it didn't work, sure because this extension officially only supports firefox and google chrome, so i had to fiddle around and search and i tried one of these solutions and it worked! pl

[2022-05-05 19:27] trimechee commented on #27
lol i forget to post the extension : https://github.com/dvlden/ultrawideo

Upscale or stretch any video on the web, to make it look great on UltraWide screens.

The only extension on the market with two significant functionalities that no other extension in this category possess.

Works on all video streaming platforms. ✅
Works on all embedded videos. ✅
It doesn't matter if there are multiple dire

[2022-05-06 21:57] trimechee commented on #25
In Woolyss site there is 2 version of Thorium Borwser, one with fma and avx2n and an outher version with avx, i dont"t knows with version is better with my notebook Asus i3 X541U year 2017, can my computeur work fine with fma and avx without bugs ? is this version compatible with windows 10 version 21H1?

[2022-05-06 22:07] trimechee commented on #25
"includes installer patches and files to include ChromeDriver and content_shell, with a .desktop file being provided for content_shell", can you explain us the usefulness of this option please?

i discover how to download video without using video extension addon, i go to devtools, network/media, but it's it's tiring boring to make several clicks, can you please add a button on the bookmarks bar s

[2022-05-07 03:36] AnterCreeper commented on #16
![image](https://user-images.githubusercontent.com/30188772/167236607-494e8898-00b4-44eb-9f92-e206f82a46b8.png)

[2022-05-07 03:38] AnterCreeper commented on #16
render_id: 7
player_id: 0
created: 2022-05-07 03:38:00.194 UTC
origin_url: http://10.129.197.39:8080/
kFrameUrl: http://10.129.197.39:8080/%E5%BD%B1%E7%89%87/E.T.%E5%A4%96%E6%98%9F%E4%BA%BA.tt0083866.mp4
kFrameTitle:
url: http://10.129.197.39:8080/%E5%BD%B1%E7%89%87/E.T.%E5%A4%96%E6%98%9F%E4%BA%BA.tt0083866.mp4
kTextTracks:
kTotalBytes: 0x10ae4c639
kIsStreaming: false
kIsSingleOrigin: true
kIsRang

[2022-05-07 03:38] AnterCreeper commented on #16
{
  "properties": {
    "render_id": 7,
    "player_id": 0,
    "created": "2022-05-07 03:38:00.194 UTC",
    "origin_url": "http://10.129.197.39:8080/",
    "kFrameUrl": "http://10.129.197.39:8080/%E5%BD%B1%E7%89%87/E.T.%E5%A4%96%E6%98%9F%E4%BA%BA.tt0083866.mp4",
    "kFrameTitle": "",
    "url": "http://10.129.197.39:8080/%E5%BD%B1%E7%89%87/E.T.%E5%A4%96%E6%98%9F%E4%BA%BA.tt0083866.mp4",
    "kT

[2022-05-07 03:40] AnterCreeper commented on #16
afaik, the patent of ac3 is out of date.

[2022-05-07 09:49] trimechee commented on #25
Another pelase question, why did Thorium choose to use the chromium project and not firefox? it seems to me that firefox is less strict and more flexible and allows several things prohibited by chrome, for example I can easily deactivate cache disk in firefox and the cache is stored only in the ram for faster navigation if we have an old hard disk HDDs,

you can even disable memory cache....I was

[2022-05-07 12:31] Alex313031 commented on #16
@AnterCreeper Are you using 16.04? Ahhhh the glory days lol.

[2022-05-07 23:57] Alex313031 commented on #25
The AVX one makes use of AVX and AES instructions, the AVX2 one uses those as well, but builds on top of that and has AVX2 and FMA instructions. https://en.wikipedia.org/wiki/Advanced_Vector_Extensions & https://en.wikipedia.org/wiki/AES_instruction_set & https://en.wikipedia.org/wiki/Advanced_Vector_Extensions#Advanced_Vector_Extensions_2 & https://en.wikipedia.org/wiki/FMA_instruction_set

Your

[2022-05-08 03:08] AnterCreeper commented on #16
Ubuntu MATE 20.04 LTS

[2022-05-08 03:10] AnterCreeper commented on #16
A very fast old system on a modern hardware. Like using Windows XP on a AMD Ryzen or Intel 12th gen.

[2022-05-08 10:23] trimechee commented on #25
Ohhhh thank you very much for your precious advise et and help and efforts to make these amazing fantastic softwares !

plesae another question, I'm afraid to buy a chromebook because apparently I can't install the usual classic software that I know and we are limited by the software present in the chrome store, is that true?

but i hear chromium os has a linux kernel and recently google added sup

[2022-05-08 13:52] trimechee commented on #27
I konw it is diffilcult hard to integrate new option :( i think even it's hard that we are talking about an important feature, being able to watch videos without black band and it will be great that all browsers  integrates a native "change aspect ratio" option in order to dazzle the world even if it's very difficult, we know it....

[2022-05-08 17:34] trimechee commented on #25
it will be great if Thorium browser can automatically play media in external media player like qutebrowser, here what i find :"

"qutebrowser is highly [configurable](https://qutebrowser.org/doc/help/configuring.html) and the [Arch Linux Wiki](https://wiki.archlinux.org/index.php/Qutebrowser) has a nice guide.

qutebrowser currently has a limited extensibility, but it does come with a basic suppor

[2022-05-09 04:30] Alex313031 commented on #16
@AnterCreeper Oh well the color scheme and the fact the minimize/maximize/close buttons are on the left made it look like 16.04.

And thanks for providing all the info, but I don't know what to do with it.
I don't know enough about H.265.

I had tried to use Nik's patches for Windows on linux a long time ago but they didn't work.

However, as of late, they are working on HEVC support upstream. It

[2022-05-09 04:38] Alex313031 commented on #25
@trimechee Chromebooks are nice. You can run chrome apps, extensions, and android apps and linux apps in crostini (the name for the built in linux vm). You could also install ChromiumOS or ThoriumOS on it, although only ChromeOS supports android apps.

For both of those sites, they seem to be using EME (Encrypted Media Extensions) probably through the WidevineCDM. This is specifically designed so

[2022-05-09 08:22] trimechee commented on #25
Interesting, merci bcp pour ces clarifications et explications :) other question plesa sans voulir t'ennuyer, can Thorium browser can be based on fushia and dahlia which is open source "dahliaOS is a modern, secure, lightweight and responsive operating system, combining the best of GNU/Linux and Fuchsia OS" ?

[2022-05-09 15:06] arun54321 opened #29 "Fedora copr?"
Could you add Fedora copr?

[2022-05-09 16:26] trimechee commented on #25
Mr @jacob755 posted these valuable and awesome tips about memory cache !

https://github.com/Eloston/ungoogled-chromium/issues/1940#issuecomment-1121236111

[2022-05-09 20:27] Alex313031 commented on #29
@arun54321 The Thorium portable .zips work well for other distros. I've tested it on Arch, Gentoo, Fedora, and CentOS.

I don't really use fedora, so I don't know what the COPR is but google search shows it is kind of like the AUR in arch. I dont know how I would go about adding it to there.

I'm already building alot for linux, windows, and windows avx2, as well as making personal builds, so havi

[2022-05-14 02:24] AnterCreeper commented on #16
@Alex313031 Thanks a lot!

[2022-05-20 11:22] oczt opened #31 "Check for processor using a script"
Firstly appreciate the work. Thanks

Could you please add a small script or info what CPUs are supported?

May be like this https://docs.01.org/clearlinux/latest/get-started/compatibility-check.html

(or it is just

`cat /proc/cpuinfo | grep avx`

[2022-05-21 08:31] Alex313031 commented on #16
Closing this issue.

[2022-05-21 08:31] #16 closed

[2022-05-21 08:35] Alex313031 commented on #31
@oczt Good Idea. Chromium needs SSE3 since version 90, and I noticed that just recently, the debian chromium requires the package sse3-support as a dependency, which disallows installing on unsupported processors. The maintainer of the package has sse2-support, sse3-support, and sse4.2-suuport, but no avx or avx2-support package. I contacted him to see if he can make such a package, so that Thoriu

[2022-05-21 09:25] Alex313031 commented on #31
@oczt Here we go > https://github.com/Alex313031/Thorium/blob/main/check_avx.sh

[2022-05-22 14:07] jessy-lua opened #32 "Thorium AVX2 compilation error with -ffast-math"
Building on the Windows vs2019
[code]

[2022-05-22 16:38] jessy-lua opened #33 "API Keys for personal build"
I build Thorium from sources, set the:
google_api_key
google_default_client_id
google_default_client_secret

In google console I see only safebrowsing API request, but on "Chrome Sync API" zero requests and sync not working.

[2022-05-22 17:13] Alex313031 commented on #33
@jessy-lua You made your own API Keys?

[2022-05-22 17:24] Alex313031 commented on #33
@jessy-lua When using Thorium releases, or your own with your own api keys, you have to add yourself to this group > https://groups.google.com/u/1/a/chromium.org/g/google-browser-signin-testaccounts  as per > https://www.chromium.org/developers/how-tos/api-keys/#signing-in-to-chromium-is-restricted because google decided to be a numbnuts on mar. 15, 2021.

If you need help making API Keys with all

[2022-05-22 17:29] Alex313031 commented on #32
@

[2022-05-22 17:31] Alex313031 commented on #31
@oczt Are you there mate? Wanna check back with you before I close this issue and make sure you saw I responded.

[2022-05-22 20:17] jessy-lua commented on #32
didn't modify anything

[2022-05-22 20:20] jessy-lua commented on #33
yes

ofcourse i read this before and joined group and created api keys and added all needed libraries

[2022-05-22 23:24] jessy-lua commented on #32
this issue presents only when i compiling with AVX2 build folder. tried two times

[2022-05-24 14:46] Alex313031 commented on #32
@jessy-lua What CPU is your build system using.

[2022-05-24 14:48] Alex313031 commented on #33
@jessy-lua If you did it all right IDK why it wouldn't be working for you. Would you like access to my private API keys repo to test to see if those work? Keep in mind as per the readme in that repo that it is NOT for redistribution, I.E. keep them to yourself only for a personal build. I don't want a whole bunch of people all of a sudden using them because then it might reach my quota and then th

[2022-05-26 11:00] #33 closed

[2022-05-26 11:01] jessy-lua commented on #32
Intel 12th gen i9

[2022-05-26 11:01] #32 closed

[2022-05-27 02:32] Alex313031 commented on #25
@trimechee See new thorium website and debian repo > https://thorium.rocks/

[2022-05-27 06:20] oczt commented on #31
Thanks...
PS: For mere mortals' understanding, you can end the script with

Sorry... the at least a test failed, which means thorium may not run on this device.

[2022-05-27 06:20] #31 closed

[2022-05-27 08:15] trimechee commented on #25
Excellent ! It's very good to rename chromium;exe to thoirium.exe because I installed chromium from justclueless, hibbiki, mamaduke, and when I install them together, I lose my references and I hope that renaming chromium.exe to thoirium.exe will allow solve this problem ! thank you very much for all your efforts to improve the web browser!

[2022-05-28 06:32] nmarathi opened #36 "using ubuntu PPA instead of custom site"
Firstly apologies this suggestion was not meant to be impolite.

Would you mind hosting the .deb files at a Ubuntu PPA (1) instead of `.rocks` site? This is thought in the long term possibility and security in mind.

1. Using a PPA means very challenging for spammers to steal the domain to host fake debs.
2. Or a bounced payment to domain or some errors in payment
3. Or example: https://puri.sm/po

[2022-05-28 06:51] Alex313031 commented on #36
@nmarathi I already have a launchpad and set up a PPA for thorium. Unfortunately, I decided not to go that route because I would have to upload the source there and maintain it there too as well as here, and the main thing is that they don't allow uploading binary packages, they have to build it from your source. And unless I wanna pay a lot of money to get a higher resource quota, building Thoriu

[2022-05-30 10:29] MarkGhanz opened #37 "Ozone wayland vaapi support"
This is both a feature request and a question. Is it possible to add a patch to support VAAPI on the pure Wayland backend (ozone-platfrom=wayland)? Also, how to apply custom patches to chromium?
Patch link: https://github.com/OSSystems/meta-browser/blob/master/meta-chromium/recipes-browser/chromium/files/chromium-wayland/0001-ozone-add-va-api-support-to-wayland.patch

[2022-06-01 13:15] pierro78 opened #38 "Sync not working : is it a bug ? should I add my google api key ? but how ?"
just installed the newest build from https://thorium.rocks repo (I am on debian) but google sync doesn t seem to work ... should I add my google api key ?

can I maybe ask how ? thanks ! :)

[2022-06-02 02:57] Alex313031 commented on #38
@pierro78 Make sure you are added to https://groups.google.com/u/1/a/chromium.org/g/google-browser-signin-testaccounts as per https://www.chromium.org/developers/how-tos/api-keys/#signing-in-to-chromium-is-restricted

[2022-06-02 02:57] #36 closed

[2022-06-02 02:57] #29 closed

[2022-06-02 02:57] #25 closed

[2022-06-02 11:37] pierro78 commented on #38
thank you ! I have added the environment variables to my .bashrc file as told and it's syncing now !

[2022-06-02 11:45] #38 closed

[2022-06-06 12:37] ivangoldov opened #40 "Change macOS icon"
Hello, firstly, great browser!

I'd like you to change the Thorium browser icon to match macOS 11+ style. This is google chrome icon which matches style (square with rounded corners and an icon inside it).
![image](https://user-images.githubusercontent.com/47887209/172161650-b5b6cd5e-778b-4bb6-94c8-e0daa9750bcf.png)
I know that changing icon in macOS is easy and everybody can do it, but couldn't i

[2022-06-07 04:21] Alex313031 commented on #40
@ivangoldov The reason Thorium is using the plain icon, is because I couldn't get ahold of a high enough resolution version of the mac icon. The Thorium icon for all platforms was made from an official Chromium .SVG that I manually edited in a text editor to have the black inner ring instead of white, rendered at 16384 x 16384, and then downscaled to all the various sizes needed in the source code

[2022-06-07 04:22] Alex313031 commented on #40
@ivangoldov I might try to make my own, by getting an .svg of a blank "MacOS Icon", and overlaying the Thorium .svg on it.

[2022-06-07 04:41] Alex313031 commented on #40
@ivangoldov I made a new icon. I upscaled the chromium one from 1024 x 1024 to 2048 x 2048, and then used the paint bucket to white it all out, then I overlayed the thorium.svg @ 1600 x 1600px, and exported it. The result it this 2048px icon. What do you think?
![Thoriummac](https://user-images.githubusercontent.com/45863095/172297438-19392860-8cee-49a9-8446-37927928d4e3.png)

[2022-06-07 05:09] Alex313031 commented on #40
@ivangoldov Also did basically the same thing with the document icon.
![document_1024](https://user-images.githubusercontent.com/45863095/172300487-9c703ede-801c-459a-ac06-867ad66a426d.png)

[2022-06-07 08:41] Alex313031 commented on #40
@ivangoldov Uploaded the new icons and made a new dir for generating the required .icns files for MacOS builds.
https://github.com/Alex313031/Thorium/tree/main/logos/NEW/mac/gen#readme

[2022-06-07 08:50] ivangoldov commented on #40
@Alex313031 I like new icons, thank you very much!

[2022-06-07 08:50] #40 closed

[2022-06-10 10:10] pc00per commented on #15
What is up with Alex comments everywhere? Did raingart remove all of his comments inbetween?

Also I'd love to see Thorium in AUR. Better if it's binary instead of source.

[2022-06-17 23:28] ms178 commented on #15
@Alex313031 I've tried JPratama7's PKGBUILD on a heavily customized EndeavourOS (Arch derivative) and adjusted it to the newest release, that works, at least partially, as I have trouble getting Google Sync to work. While I can login and register myself, there is no syncing of information and my login credentials are lost when closing the browser. Is this a known issue? I've already registered my

[2022-06-18 13:47] varbhat commented on #10
@Alex313031 , Flatpak would be really helpful. I would help you if you are interested.

[2022-06-23 23:57] Alex313031 commented on #10
@alvarlagerlof Although, I am now distributing Thorium as an appimage. You can see it in the latest release.

[2022-06-28 14:57] alvarlagerlof commented on #10
Good news. I am sure people will find that useful. I am unhappy with the updating story on AppImage, so I will probably continue to use something else that supports flatpak.

[2022-06-30 05:11] varbhat commented on #10
@Alex313031 , it would be good to have flatpak build of Thorium Browser so that Thorium can run even on distro such as Alpine Linux.

Please look at https://github.com/flathub/org.chromium.Chromium . I would love to help Thorium packed as a Flatpak.

Also, pinging @refi64 , @rany2 for help.

[2022-07-05 17:42] PcChip opened #43 "poor youtube 4k60fps performance compared to FF Nightly"
Love the project!

Just wanted to report my test against FireFox Nightly:
using the following video: https://www.youtube.com/watch?v=LXb3EKWsInQ
Thorium shows Render/3D at 100% and Video at 0% in intel_gpu_top, and the video drops frames
FF Nightly shows Render/3D at 25% and Video at 25% in intel_gpu_top,  and the video is smooth

12th gen Intel CPU on Kubuntu 22.04

[2022-07-06 19:18] Alex313031 commented on #9
@Delphox This is an error on my part. I compiled it with SSE4.2, which not all processors with "SSE4" have. There is SSE4a, SSE4.1, and SSE4.2. You have a "Bobcat" AMD APU, which only supports sse4a. I will make sure that next SSE4 release is just pure baseline SSE4, that way it should work on CPUs as old as AMD Phenem or Core 2 Duo.

[2022-07-06 20:07] Delphox commented on #9
I see, thank you! Will be looking forward to it! 😄

[2022-07-06 20:33] PcChip commented on #43
should be the latest version of Thorium and the latest version of Kubuntu 22.04

does this help? - https://i.imgur.com/VgSqijU.png

[2022-07-07 00:44] Alex313031 commented on #37
@pierro78 @MarkGhanz @mzinner @midzer @gz83  I added that patch as well as an omnibox patch!! https://github.com/Alex313031/Thorium/commit/08267e6810b4b0c3b17b060378531b0036da4feb and https://github.com/Alex313031/Thorium/commit/9a289261833dca49db59542684f541e02330e9c7

[2022-07-08 00:27] Alex313031 commented on #43
@PcChip Yes thanks. What is your CPU?

[2022-07-10 21:15] raisedintheusa opened #44 "Couple things with 105.0.5167.0"
With the last release, my system sees Thorium as "thorium-browser-unstable" even though I'm executing the "thorium-browser" script. Not sure if this is on purpose or not. With the past couple releases, my system would see it as just "thorium-browser".

And this might be nitpicking a little, but the flag "--disable-features=EventPath" is passed twice, once before "--flag-switches-begin" and another

[2022-07-11 11:27] Alex313031 commented on #44
@wdym it "sees" it as thorium-browser-unstable? Could you post a screenshot(s) of everything you are describing?

And the eventpath thing is an upstream chromium thing.

[2022-07-11 11:42] Alex313031 commented on #9
@Delphox Here you go > https://github.com/Alex313031/Thorium-Special/releases/tag/M105.0.5172.0

[2022-07-11 12:49] raisedintheusa commented on #44
I use the mouse gesture program Easystroke and it would recognize the last few versions as "thorium-browser" so the same gestures would work on a new release, but with the last release the gestures stopped working and when selecting Thorium again within Easystroke, I saw it now recognized it as "thorium-browser-unstable".

[2022-07-11 17:44] varbhat commented on #10
https://discourse.flathub.org/t/chromium-browser-fork-thorium-web-browser/2712

[2022-07-11 17:44] varbhat commented on #10
@Alex313031

[2022-07-11 18:02] ms178 commented on #44
@Alex313031

Some observations with this build from me. First of all thanks a lot for getting Google Sync working, I now can use Thorium as my new default browser.

On the other hand, I faced some trouble with the user-provided PKGBUILD for Arch Linux as that does no longer work with this release out-of-the box.

There are several reasons, the first is due to the different package name in the sour

[2022-07-11 21:11] ms178 commented on #44
As the icons went missing this way, and I noticed that the directory name has changed as well, hence some adjustements to the file path in the PKGBUILD were needed to get it working, here is the now fixed
[PKGBUILD.txt](https://github.com/Alex313031/Thorium/files/9087572/PKGBUILD.txt)
.

[2022-07-14 12:27] toooonyy opened #45 "Patches from ungoogled-chromium?"
[add-flag-to-hide-side-panel-button.patch](https://github.com/ungoogled-software/ungoogled-chromium/blob/ec75c03e2555ab060abb534a9b0d34d39aabdbe9/patches/extra/ungoogled-chromium/add-flag-to-hide-side-panel-button.patch)
[add-flag-to-show-avatar-button.patch](https://github.com/ungoogled-software/ungoogled-chromium/blob/ec75c03e2555ab060abb534a9b0d34d39aabdbe9/patches/extra/ungoogled-chromium/add-

[2022-07-15 02:47] PcChip commented on #43
12th gen core i5

[2022-07-16 03:13] Alex313031 commented on #45
@toooonyy It already has the hide side panel patch. I will probably add the download quarantine patch. I will probably not add the others.

[2022-07-16 16:49] toooonyy commented on #45
Ok, I'll wait for the next release then.

[2022-07-17 00:25] lovelytwo opened #46 "Linux x265 support?"
I've read the other ticket regarding supporting x265 on linux. However I came across another build that does manage to support x265 on linux.

https://github.com/macchrome/linchrome/releases/tag/v103.0.5060.68-r1002911-portable-ungoogled-Lin64

it requires the --enable-clear-hevc-for-testing command line argument, but it does work.

I've also tried the same command line argument with thorium witho

[2022-07-17 18:40] wrestlerdude opened #47 "[BUG] Thorium doesn't show extensions in chrome://extensions"
# System Details
- OS: Pop!_OS 22.04
-  Thorium Version: Version 105.0.5167.0 (Official Build) unstable
- Source of build: [deb fetched from thorium.list](https://dl.thorium.rocks/debian/dists/stable)

# Observable Problem
The extensions page `chrome://extensions` is empty despite multiple extensions installed.

# Additional Notes
- I also installed the AppImage, and the same problem persists.
- I

[2022-07-17 19:06] midzer commented on #47
I can't confirm the bug on my debian bookwork using the same version.

[2022-07-17 20:31] Alex313031 commented on #47
@wrestlerdude @midzer I am making new release right now. I will test in a pop os VM to see if i can recreate, and see if the new release fixes the problem.

[2022-07-17 21:11] wrestlerdude commented on #47
If it doesn't occur for you, I'll try wiping my Thorium `.config/` and doing a fresh install.

[2022-07-17 23:41] Alex313031 commented on #47
@wrestlerdude I cant recreate with either the version you are using, or the one I just compiled.
First, try sudo apt purge thorium-browser-unstable, and then installing the fresh release from https://github.com/Alex313031/Thorium/releases/tag/M105.0.5183.0

If the issue still persists, move the .config/thorium dir or rename it, and then see if it shows up. If it fixes it, you can restore the old c

[2022-07-17 23:45] Alex313031 commented on #43
Try latest release and see if it persists. https://github.com/Alex313031/Thorium/releases/tag/M105.0.5183.0

[2022-07-18 00:32] Alex313031 commented on #45
@toooonyy I added the download quarantine patch, and the unexpire flags patch. I will go ahead and add the show/hide avatar patch too. I will not be adding the sharing hub or qr generator patches, however.

[2022-07-18 01:05] Alex313031 commented on #44
@raisedintheusa This should fix your initial issue https://github.com/Alex313031/Thorium/commit/947c28a91dbab41e4931747389a19fb1db717279

[2022-07-18 01:36] Alex313031 commented on #46
@lovelytwo I can confirm this. Tried that build, and tried my latest build, with both cmdline patches applied. Ungoogled h265 worked, in thorium it didn't.
I can't find any h265 patches in ungoogled chromium.
Perhaps this has something to do with my vaapi/vdpau patches? I got them from debian, so im going to run debians latest chromium and see if h265 works in it or not.

[2022-07-18 02:00] Alex313031 commented on #46
@lovelytwo Debians Chromium doesn't work with h265.

So it looks like I can either have it play h265 content, or have hardware acceleration for other content on more systems.

[2022-07-18 02:05] Alex313031 commented on #46
@lovelytwo Adding to [BUGS.md](https://github.com/Alex313031/Thorium/commit/8190365263174b65c2aad1ffc7de149ba1e7993c)

[2022-07-19 11:11] ms178 opened #48 ""Show in Folder" crashes with 105.0.5183.0"
- good: ca. 4% better performance in WebGL Aquarium, from 94 to 98 fps

- bad: the app crashes reproducibly if I download a file and click on "Show in folder" option in the context menu to browse the directory where I downloaded the file; see the attached screenshot below

![Screenshot_20220719_130559](https://user-images.githubusercontent.com/19559105/179736204-18b70f41-484a-4fee-8a37-13036206d2f

[2022-07-19 16:11] raisedintheusa commented on #48
Yes, I have the "Show in folder" crash too.

[2022-07-19 16:22] raisedintheusa commented on #48
Also, this might just be a personal preference, but I'm not the biggest fan of the "Thorium blue" that colors some items in the browser. It seems a little hard on the eyes against a dark theme. Especially now that the tab volume speaker favicon is also taking on that blue, but the little volume bars beside it still being white, it isn't a good look.
Also, the right-side menu button looks like I'm

[2022-07-20 08:44] Alex313031 commented on #48
@raisedintheusa @ms178 Yes, I'm experiencing the download show in folder crash too. Next release should fix it.
The volume bars color is fixed, it was an error on my part editing the .icon file. Next release will fix that.
I have experimented around with different colors, I might change it in the future.

The main menu or hamburger icon is actually from brave. I always liked the lines rather than

[2022-07-23 11:22] Apogeum12 opened #51 "[Linux] [Improvement] - Faster scroll"
Patch for faster scroll web content in the browser

[2022-07-23 11:25] Apogeum12 opened #52 "[Linux] [Improvement] - adblocker"
Build into web browser default some adblocker like in brave. You can use probably https://github.com/brave/adblock-rust because it is open source.

[2022-07-24 06:28] Alex313031 commented on #51
@Apogeum12 Modifying this would affect all platforms, and would make it too fast on Windows and Mac. I understand your frustration. What you can do is install extensions to speed or slow scrolling. I reccomend https://chrome.google.com/webstore/detail/fast-scroll/ecnjcglleblahonnenpaiofkabfakgdi . You can also enable the flag chrome://flags/#smooth-scrolling

[2022-07-24 06:30] Alex313031 commented on #52
@Apogeum12 This is a long term goal, especially since they are deprecating manifest v2 (Although thorium will have patches to extend support as long as possible). I won't be adding this super soon, but it is not needed for now, because you can still install ublock origin.

[2022-07-27 05:45] chenzaichun opened #53 "ubuntu 20.04 hardware video decode is not working."
Thorium info: Version 105.0.5183.0 (Official Build) unstable, built on Ubuntu 22.04, running on bullseye/sid (64-bit)
system info: ubuntu 20.04 x64
CPU: Intel(R) Core(TM) i5-8350U

1. from setting page, hardware acceleration is enabled.

![image](https://user-images.githubusercontent.com/127616/181168978-6efcfd60-c460-4baa-9b0d-e9aab6f61652.png)

2. from chrome://gpu page, hardware video decode is

[2022-07-27 13:00] raisedintheusa opened #54 "Names of new releases"
Hi, you've named the last two releases the 25th and 26th, but it seems they should be the 35th and 36th?

[2022-07-27 20:15] Apogeum12 commented on #51
For now the best extension what I found is: scrollAnywhere
Maybe in future on wayland doesn't that errors with scrolling. For now I must using X11 :(

https://user-images.githubusercontent.com/35242996/181363673-bfb0f8f6-f4b5-4f8c-bfa0-6fac7952c951.mp4

[2022-07-27 20:21] #52 closed

[2022-07-29 08:00] Apogeum12 opened #55 "[Linux] Question - Thorium shell"
What is Thorium shell?
Is possible to delete it? In system applications I don't see it.

![photo_th](https://user-images.githubusercontent.com/35242996/181713006-d8c07d86-19da-402f-8cf3-959e06efbb40.jpg)

[2022-07-29 15:45] Alex313031 commented on #51
@Apogeum12 I made this extension, because Ive gotten multiple things about this on linux, the only OS where it tends to be a problem.
https://chrome.google.com/webstore/detail/thorium-scroll-tweaker/dgnjhkngmbcdbdmpbeechgihgijlajkf
Feel free to try it, and if it is not as good as the above one, or some feature that's missing, don't hesitate to tell me.

[2022-07-29 15:46] Alex313031 commented on #53
@chenzaichun  Do you have chrome://flags/#ignore-gpu-blocklist and chrome://flags/#enable-gpu-rasterization enabled. What GPU do you have, and are you using X11 or wayland.

[2022-07-29 15:50] Alex313031 commented on #55
It is a minimal browser shell, useful for web dev/testing, or if you want a single minimal browser instance to run over the top of something, for example to watch a youtube video while gaming and having it just sit there in a little window in the corner. It is possible to delete it, but it will require some command line stuff. It doesn't take up much space, but if you just want the icon gone, you

[2022-07-29 18:31] ironyee opened #56 "Is there any way to get an Arm64 Release for Linux?"
Hello.

Is there any way to get an Arm64 Release for Linux?
It will be great on AWS Arm64 linux.

[2022-07-29 23:15] Apogeum12 commented on #51
sure, I will tests it ;)

[2022-07-29 23:27] Apogeum12 commented on #53
@chenzaichun
On intel igpu you must have installed non-free driver, install from official intel page https://dgpu-docs.intel.com/installation-guides/ubuntu/ubuntu-focal.html
Also, if you don't have installed, install `va-driver-all` from default ubuntu repository.
It should be work out of the box. Thorium is the first browser based on chromium when the hardware accelerate(ubuntu 20.04 X11) working

[2022-07-29 23:36] Apogeum12 commented on #55
@Alex313031
Is it possible to run like app mode with this?
For example youtube by thorium shell in app mode, or any others app by use only url for example from web or localy on the own server using url for frontend.

[2022-07-30 10:53] pkochans opened #57 "VAAPI on Wayland broken on 106.0.5197.0"
After update to 106.0.5197.0 hardware acceleration stopped working on Wayland, also fonts rendering looks fuzzy. Verified using intel_gpu_top.
It was working well on the previous version (unsure which it was, I'm using deb repo) so my system is configured properly.

[2022-07-30 11:54] Alex313031 commented on #54
@raisedintheusa How stupid of me. Thanks.

[2022-07-30 11:54] #54 closed

[2022-07-30 12:02] Alex313031 commented on #55
@Apogeum12 Yes, simply append the full path or filename.
For example I can open thorium.rocks like

`thorium-shell https://thorium.rocks/`

or locally like

`thorium-shell /home/alex/git/Alex313031.github.io/index.html`

This is one of the strengths of thorium shell, its great for development or opening a single page in a small window. It will also show any page errors on the command line, unlike

[2022-07-30 12:07] Alex313031 commented on #57
@pkochans Strange, lets see if it still happens with next release.

[2022-07-30 12:08] Alex313031 commented on #56
I already do, although it has been compiled for raspberry pi, so it wont work on anything older than armv8.1 with NEON instructions, which shouldn't be of concern for AWS or any modern arm based board. They are in thorium-special > https://github.com/Alex313031/Thorium-Special/releases/tag/M105.0.5174.0

[2022-08-01 01:59] chenzaichun commented on #53
yes, both `ignore-gpu-blocklist` and `enable-gpu-rasterization are enable.

![image](https://user-images.githubusercontent.com/127616/182057748-c84a02d7-1c01-4606-9add-86784780e32e.png)

![image](https://user-images.githubusercontent.com/127616/182057779-e45b4443-91f5-47d3-896d-9be6e1624220.png)

[code]

Ubuntu 20.04 with x11.

[2022-08-01 02:09] chenzaichun commented on #53
Already installed.

[code]

Still cannot get hardware video decoding working. (Firefox works perfect)

[2022-08-01 09:14] trimechee opened #58 "Ideas to buffer full video"
Hello, thank you for this amzing awesome browser 🥇  !!

I have already asked you if it is possible to buffer full video when you have a weak connection to avoid jerks and interruptions....

I did some new research and maybe it can help to enable this important option in chromium browsers :

sometimes the internet connection is weak and it is necessary to buffer full video or increase the size of t

[2022-08-01 10:25] trimechee commented on #58
I discovered very very powerful amazing scripts to donwload all types of videos or discover media source extension tools ::

https://greasyfork.org/fr/scripts/445751-unlimited-downloader

https://github.com/Momo707577045/m3u8-downloader/blob/master/README-EN.md

https://greasyfork.org/en/scripts/18671-inject2download

https://github.com/acolwell/mse-tools

 ArtPlayer.js is a modern and full featur

[2022-08-02 09:13] pkochans commented on #57
Nevermind, got it working again `--ozone-platform=wayland --enable-features=UseOzonePlatform --enable-features=VaapiVideoDecoder --use-gl=egl --disable-features=UseChromeOSDirectVideoDecoder`

[2022-08-02 09:25] Apogeum12 commented on #53
@chenzaichun
What version `intel-media-va-driver-non-free` you have installed?
[code]

[2022-08-02 09:43] Alex313031 commented on #51
@Apogeum12 Hows it goin

[2022-08-02 09:44] #55 closed

[2022-08-02 10:00] chenzaichun commented on #53
@Apogeum12 Thanks a lot. It's working now after installed `intel-media-va-driver-non-free
`.

[2022-08-02 10:00] #53 closed

[2022-08-02 10:48] Alex313031 commented on #57
@pkochans You don't have to use --disable-features=UseChromeOSDirectVideoDecoder or --enable-features=VaapiVideoDecoder These are already set this way in source code as part of the vaapi patches in thorium

[2022-08-02 12:11] pkochans commented on #57
@Alex313031 I experimented a bit and either `--ozone-platform=wayland` or `--ozone-platform-hint=auto` is sufficient. Now I can see that in chrome://flags/ there is no longer any results for "ozone". Some switch was there in the previous version and it served the same as "ozone-platform-hint". I've set it to auto on the previous version but since it dissipated I have to add those flags again. So n

[2022-08-02 12:11] #57 closed

[2022-08-02 17:40] Apogeum12 commented on #51
@Alex313031  Hello.
Unfortunate for now the best working scrollAnywhere, but I think it is caused by click left button of mouse and move like in smartphone. All other's extension like your,  when I scroll too fast then the picture jump. Or they are not smoothly like in above shortly movie.

[2022-08-03 12:22] #56 closed

[2022-08-03 12:23] Alex313031 commented on #51
@Apogeum12 I will look into improving my extension to make it less "choppy"

[2022-08-03 12:23] #51 closed

[2022-08-03 12:24] Alex313031 commented on #46
@lovelytwo Turns out Thorium DOES support H.265, but only if you have hardware acceleration. I.E. your OS, GPU, and graphics driver all have to support it. Ungoogled Chromium is using a patch to enable software HEVC decoding. I will look into it.

[2022-08-03 12:24] #46 closed

[2022-08-03 12:24] #45 closed

[2022-08-03 12:24] Alex313031 commented on #48
@ms178 It is fixed.

[2022-08-03 12:24] #48 closed

[2022-08-03 12:25] Alex313031 commented on #43
@PcChip Hows it coming.

[2022-08-03 12:26] Alex313031 commented on #24
@Neucher Hows it coming. I can still help with your .desktop file.

[2022-08-03 12:26] Alex313031 commented on #23
@williamjnrkdd This should be fixed in latest release, because of patches and API keys fixes. Let me know how it goes.

[2022-08-03 12:28] Alex313031 commented on #8
@Neucher How would you like to procede. Going back through my issues again. If this issue doesn't get a reply within a couple of weeks im going to close it due to inactivity.

[2022-08-03 12:29] Alex313031 commented on #9
@Delphox Doing to be making a regular SSE4 release soon.

[2022-08-03 19:50] StarterX4 commented on #47
Same issue here with 106.0.5212.0 deb version on CachyOS (Arch-based). Same with AppImage.
CPU: Ryzen 9 5900HX | GPU: Radeon RX 6800M | Mesa 22.1.4

There's also an output in terminal with AppImage version:
`[207716:207716:0803/214341.382020:ERROR:gl_surface_presentation_helper.cc(260)] GetVSyncParametersIfAvailable() failed for 1 times!
[207681:207681:0803/214344.989113:ERROR:bad_message.cc(20)]

[2022-08-03 21:14] StarterX4 opened #60 "Password sync doesn't work with any manually selected password store"
When I set the password store in launch options to any of the three available: <basic|kwallet|gnome> (eg. `--password-store=basic`), the passwords sync doesn't work. (Just the password sync - the rest of Chrome Sync works fine)
![image](https://user-images.githubusercontent.com/21229864/182707917-048cb03c-365b-43e2-bba7-70a716f09fdf.png)

When the option isn't set, also Chrome (since it works ther

[2022-08-03 22:25] StarterX4 commented on #37
Doesn't work for me with 106.0.5212.0.
Tried to combine with other flags, like --ignore-gpu-blocklist, but videos are still black. Had to turn VAAPI off with `--disable-features=VaapiVideoDecoder`.
Repacked deb version, CachyOS (Arch-based). Mesa 22.1.4.

[2022-08-04 09:36] jestxfot commented on #22
@Alex313031 I found dll to make the chromium portable. No more settings needed

[2022-08-04 11:07] Alex313031 commented on #22
@jestxfot Interesting, could you share?

[2022-08-04 11:55] trimechee commented on #27
There is bug, i asked extension developer but there is no solution,  tried many extensions to stretch video on my favourite streaming site that's why i suggest this, for exempe integrate an native extension to manual selection so that the user can increase itself the height and width of the video therefor the developer of browser could konow and fix the bugs....

https://github.com/dvlden/ultrawid

[2022-08-04 12:11] trimechee opened #61 "Save SSD by disabling session restore ou increase session store intervals"
Hello, i discouver this article of 2016, this problems seems to affect also chromium browsers, it wil be great to save our hard disk and battery to add an option to disable session restore or increase session store intervals, we can do that with firefox but we can't do this with chrome browser, i have made search, i found solution but is complicated , may be it can help, please add option to disab

[2022-08-04 15:31] Neucher commented on #8
@Alex313031 Yes I'm closing it right now. The AVX2 build works fine.

[2022-08-04 15:31] #8 closed

[2022-08-04 15:32] Neucher commented on #24
I gave up on .desktop files after the app image because available. Thanks

[2022-08-04 15:32] #24 closed

[2022-08-04 18:12] Alex313031 commented on #47
@wrestlerdude @StarterX4 Can you guys try using the portable release and/or with a fresh user profile?

[2022-08-04 18:13] trimechee commented on #61
It says

"Chrome seems to generate the same operations as well

Early experiments show a similar behavior for Chrome, which also generates around 1GB per hour, rounding up to around 24GB per day."

"Those [SSD] drives can be rated for about 20GB of writes per day and Firefox [or Chrome] alone might be using more than half of that," Bobik warns users using SSD drives.

Solution  :

take inspiration

[2022-08-04 18:14] Alex313031 commented on #60
This is interesting. Can you try with the portable release and tell me what it does?

[2022-08-04 18:16] Alex313031 commented on #61
@trimechee Interesting, I will look into it.

[2022-08-04 18:31] trimechee commented on #61
Wow! fantastic ! Thanks a lot 🥇

i'm so shocked and sad and  in shock and devastated because i thought firefox is lighter than chrome, i spent several hours today to research and understand and modify firefox's internal session restore values and i hope you go find a solution if this problem really affects chromium based browsers because i did some research and it says there is no solution for chr

[2022-08-04 18:56] Alex313031 commented on #60
@StarterX4 I see you made a release in the AUR! Thanks so much, I've been wanting to do that for a long time. Could you share all the files you are using, i.e. thorium.sh and pkgbuild. I add them to the repo and add you as a contributor.

[2022-08-04 19:19] trimechee commented on #61
here what i found, some people said this not operational and bug, some said it works.....

"Someone has suggested just running Chrome in Incognito mode to get around the problem If you are running in full screen mode and redirecting to a specific page that shouldn't be noticeable. I know that's a bit of a work around.

Open chrome \ Default \ Preference, and change the value to

"exit_type": "none

[2022-08-04 19:22] trimechee commented on #61
"I see some inconveniences in the solutions provided:

--incognito switch removes cache, what is pretty bad in most circumstances.

(Copy-pasting chrome help )

Google Chrome has hundreds of undocumented command-line flags that are added and removed at the whim of the developers.

--disable-session-crashed-bubble depends of which version of chrome are you using, the most actual version v39 doesn't

[2022-08-04 19:26] trimechee commented on #61
quote : "This finally worked for me, and it's pretty simple:

Shut down Chromium gracefully
Change the "Change content" permissions of ~/.config/chromium/Default/Preferences to "Nobody"
That will lock the state of two variables, regardless of how Chromium was shut down:

"exit_type": "Normal"
"exited_cleanly": true
Of course, only do that after you're done setting preferences"

"Finally something

[2022-08-04 20:11] jestxfot commented on #22
https://github.com/jestxfot/chrome_plus The most important thing is that the file is open-source and you do not need to worry that it can be dangerous (unlike other browsers)

[2022-08-04 22:06] StarterX4 commented on #47
Tried AppImage version with fresh profile (on freshly installed CachyOS GNOME on QEMU) and before logging-in the extensions page was showing some components and [Chrome?] Web Store, but after i've logged-in, the extensions page became empty.
![image](https://user-images.githubusercontent.com/21229864/182960108-ebe6a3fb-2cc5-4966-acba-8804ef7cbf89.png)

![image](https://user-images.githubuserconten

[2022-08-04 22:18] trimechee commented on #58
I have made many test experiences, i discouver it is enough to disable only one parameter to be able to buffer full video, it is disable media source extension (MSE), google which owns youtube has hidden or removed this option media source extension API in chrome flags because probably it does not want that we activate this option in youtube, google would like to save bandwidth but unfortunately,

[2022-08-04 22:40] StarterX4 commented on #47
The ZIP version has the same exact behavior.

[2022-08-04 23:22] StarterX4 commented on #60
Tried the ZIP version, first in VM (CachyOS GNOME), and switching between password stores was working fine there – passwords were synchronising each change.
Then tried it on my main OS (CachyOS KDE), and after switching to basic store, the whole synchronisation got paused.
![image](https://user-images.githubusercontent.com/21229864/182969821-6f2fa1b2-13b6-4695-a408-08bfac67d60f.png)
After relogin

[2022-08-04 23:47] StarterX4 commented on #60
In case of the AUR package - yea, no problem, you can download snapshot with all the files needed.

[2022-08-05 11:21] trimechee commented on #61
Hello Mr @Alex313031 , yes it does't concern our beloved Thorium Browser but i ask for yout help because you are generous 🥇   I have a doubt about two parameters and I'm afraid it will have the opposite effect, I think it's safe to increase these values to deactivate the session store:

browser.sessionstore.interval
browser.sessionstore.interval.idle

but I have doubts about these 2 values, should

[2022-08-05 14:15] Alex313031 commented on #47
@StarterX4 @wrestlerdude Interesting. What CachyOS version (like what DE) are you using.

As far as PopOS, I am currently building and running my thorium releases on popos22.04, with no issues. Can you run it with a temporary profile, i.e. by appending the cmdline flag --user-data-dir=/full/path/to/tempuserprofile

[2022-08-05 14:18] Alex313031 commented on #60
@StarterX4 I would have to build it explicitly with this option, which is not good for general distribution (I.E. I dont want all the linux releases to be hard coded to just use the basic store). I can add a chrome://flag that will let you choose the store to use.

And ok. I will modify (if needed) and add these to the Thorium repo, and put you in the copyright at the top as a contributor.

[2022-08-05 16:04] trimechee commented on #58
https://w3c.github.io/media-source/index.html#idl-def-sourcebuffer

[2022-08-06 10:50] Alex313031 commented on #47
@StarterX4 @wrestlerdude @midzer Found out what it was, thanks to @not-lucky

Turns out it only happens when a theme is installed, which is why I couldn't recreate it. After installing my thorium material dark theme, it occurred for me.

Here is the fix, next build should be fine > https://github.com/Alex313031/Thorium/commit/8d99f75ec4095425ae0eaa414354865fdab80066

[2022-08-06 12:55] Delphox commented on #9
Nice, looking forward to it!

[2022-08-07 13:18] trimechee opened #62 "New Features"
Hello, here some suggestions of features which can make our favorite browser Thorium Browser even more faster and more efficient, maybe it will be a good idea to add options in the settings to activate/deactivate them quickly with one click, I ask this because I tried to activate some of these flags but it doesn't work :(

secret flag apparently not documented reserved to chrome os:

--enable-nati

[2022-08-07 13:42] trimechee opened #63 "Disable Cache disk to avoid ruin (and memory cache)"
Hello,

"Chrome and Spotify are writing over 150GB per day to my SSD."

"At the rates I'm clocking I'm actually probably closer
to this group that is showing upwards of 100 GIG
 (yes, ONE HUNDRED GIG) of writes to my SSD PER DAY -
 just from leaving Chrome open even if I run the awesome extension
 (and BTW about the ONLY thing anyone has come up with to indicate
helps this at all by sleeping tabs

[2022-08-08 06:50] RudraSwat opened #64 "Unable to compile Thorium"
Was trying to compile Thorium on Ubuntu 20.04 and found that 'chromium/src/content/browser/gpu/shader_cache_factory.cc' was missing when running ./build.sh. After creating it, around 22000 of the 55000 targets were built successfully before the second error, which was related to a variable being defined and not being used due to -Werror.

[2022-08-08 11:08] Alex313031 commented on #64
@RudraSwat Probably because of rebase.
Please run another trunk.sh, setup.sh, and of course your PGO/args.gn etc. and run another build.

Also, in case you are following the old docs, (which are still mostly relevant but ugly), I have made new updated docs here >
[Linux](https://github.com/Alex313031/Thorium/blob/main/docs/BUILDING.md) & [Win](https://github.com/Alex313031/Thorium/blob/main/docs/B

[2022-08-08 11:09] Alex313031 commented on #64
@RudraSwat If, after this, you are still having issues, post full log as per @gz83 suggestion.

[2022-08-08 11:42] Alex313031 commented on #64
@RudraSwat It was a rebase error on my part
See fix > https://github.com/Alex313031/Thorium/commit/bc0c0040da5c32ad160975ca56083408ed10cb72

[2022-08-08 11:47] RudraSwat commented on #64
I got this when running trunk.sh again: (should I checkout any particular branch before running trunk.sh again?)

[code]

[2022-08-08 11:49] RudraSwat commented on #64
Ah, I'll try that. Thanks :)

[2022-08-08 11:57] RudraSwat commented on #64
@Alex313031 This new added file doesn't seem to exist either: `content/browser/preloading/prerender/prerender_page_holder.cc` in the Chromium source code.

[2022-08-08 16:23] Alex313031 commented on #64
@RudraSwat It was just added, so run another trunk amd setup
To diagnost what is going wrong with trunk, run `git status`, and post output here.

[2022-08-08 17:23] RudraSwat commented on #64
@Alex313031 Just did that and ran build.sh and got these errors:

[code]

[2022-08-09 10:16] Alex313031 commented on #64
Here this should fix it. Just replace the file in the chromium tree with this one, no need to run a trunk or setup, although you will want to git pull the latest thorium repo to get this file. > https://github.com/Alex313031/Thorium/commit/9c44e1a490d3250d701a866cd20346f2e456e031

[2022-08-09 10:41] RudraSwat commented on #64
@Alex313031 Tried doing that and got a new set of errors (related to the changes in the past few commits):

[code]

[2022-08-09 12:12] Alex313031 commented on #64
@RudraSwat Yeah sorry, I screwed those files up, and got the same error
Simply replace these two files and continue. > https://github.com/Alex313031/Thorium/blob/main/src/chrome/browser/thorium_flag_choices.h and https://github.com/Alex313031/Thorium/blob/main/src/chrome/browser/thorium_flag_entries.h

[2022-08-09 13:13] RudraSwat commented on #64
@Alex313031 That seems to have fixed those issues. Get these new errors now:

[code]

[2022-08-09 17:37] RudraSwat commented on #64
@gz83 That seems to have fixed most of the issues, and looks like the build was almost successful after making those changes. I get this linking error now:

[code]

[2022-08-09 18:59] Alex313031 commented on #64
@RudraSwat This is because of features.cc, which sometimes changes multiple times a day. It has changed since I last rebased thorium.

[2022-08-10 07:19] RudraSwat commented on #64
@Alex313031 That seems to have introduced another error:

[code]
[code]

[2022-08-10 08:03] RudraSwat commented on #64
@gz83 These changes seem to already be present in features.cc after https://github.com/Alex313031/Thorium/commit/687d83972bbb3777c486222dee2e54fcbfc2645e.

[2022-08-10 17:51] RudraSwat commented on #64
@Alex313031 @gz83

Thanks guys, compiled successfully. Should I close the issue?

[2022-08-10 18:49] Alex313031 commented on #64
Thanks @gz83 for helping this guy. @RudraSwat Because Thorium is based on tip-o-tree, stuff changes frequently. You can try to rebase yourself, I've prepared a bookmarks file with all the files Thorium uses bookmarked in the chromium code search with the history pane open. > https://github.com/Alex313031/Thorium/blob/main/infra/thorium_devel_bookmarks.html

Also, we can exchange social info if you

[2022-08-11 04:50] hakimzulkufli commented on #23
@Alex313031 Is the latest release M106.0.5212.0? I'm using the AppImage version. It's still happening to me. It was "fixed" after I first start this version but then it happened again. I have sync enabled as well as a custom theme installed. Could it be related to #47?

[2022-08-11 09:51] trimechee commented on #58
Hello, i find this video which reveal how disable media source extension but we should donwload chrome 50  and merge it with the current version of chrome, not sure if it's secure : https://www.youtube.com/watch?v=XyVDmsfgXV8&t=3s

[2022-08-11 15:06] RudraSwat commented on #64
@Alex313031 That's really nice of you :) Do you have a Telegram or Discord? My Telegram is @rs2009 and Discord is rs2009#6116. I'll take a look at meld, thanks!

[2022-08-13 09:19] danielstreba opened #66 "-"
-

[2022-08-13 10:18] Alex313031 commented on #66
@danielstreba @gz83 I know they can be changed, as you can see in the TOOLBAR_TINT property when making a chrome theme, which changes the clours. I would like to add a flag which changes the colours of the .icon files, instead of hard coding them in the .icon files themselves. I understand that not everyone will want the new colours, I will work to make it an option rather than hard coded.

[2022-08-13 10:18] Alex313031 commented on #66
@danielstreba @gz83 I know they can be changed, as you can see in the TOOLBAR_TINT property when making a chrome theme, which changes the clours. I would like to add a flag which changes the colours of the .icon files, instead of hard coding them in the .icon files themselves. I understand that not everyone will want the new colours, I will work to make it an option rather than hard coded.

[2022-08-14 05:12] Alex313031 commented on #64
@RudraSwat We also have an IRC set up, its also a quick way to get ahold of me. https://kiwiirc.com/nextclient/#irc://irc.libera.chat:+6697/#thorium

[2022-08-15 13:55] PcChip commented on #43
it seems that both Thorium and regular FireFox render youtube videos as "Render/3D", whereas Firefox Nightly renders it as "Video" according to intel_gpu_top.  When rendered as "Render/3D", it is not as smooth and stutters and drops frames.

I assume that's related to FireFox Nightly recently enabling VAAPI by default?

[2022-08-15 18:52] raisedintheusa commented on #44
Issue fixed with release 38.

[2022-08-15 18:52] #44 closed

[2022-08-16 15:47] StarterX4 commented on #47
As of the latest release (106.0.5237.0), the extensions page is now showing properly.
![image](https://user-images.githubusercontent.com/21229864/184921879-f35ba1d5-2996-47f0-9a39-47d785a2e01d.png)
I think we can close this issue.

[2022-08-16 17:50] Alex313031 commented on #23
@hakimzulkufli Try this latest release which has a fix for #47 https://github.com/Alex313031/Thorium/releases/tag/M106.0.5237.0

[2022-08-16 18:27] StarterX4 commented on #47
That's [my extension](https://github.com/StarterX4/chrome-preload-on-os-startup) I use personally 😅 Along with autostart script invoking `/bin/thorium-browser --no-startup-window /prefetch:5`
![image](https://user-images.githubusercontent.com/21229864/184950504-a0ffcd26-6b24-495c-9fbc-a2d77d7d6697.png)

[2022-08-16 18:47] Alex313031 commented on #47
@StarterX4 I could fork it and make a few tweaks and publish it on the web store? Would you like that?

[2022-08-16 19:20] StarterX4 commented on #47
Yeah, no problem.

[2022-08-16 19:26] Alex313031 commented on #43
@PcChip Thorium has patches to enable VAAPI and VDPAU by default as well as it can. This is strange that it is not working on a new chip on ubuntu.

[2022-08-16 19:26] Alex313031 commented on #47
@StarterX4 I made a fork, and made a pull request.

[2022-08-16 19:28] Alex313031 commented on #47
@StarterX4 Could you post another screenshot here, one thats higher resolution. I made the promo image, but I also need to upload at least one screenshot. It will be 1280x800, but what you send me doesnt have to be exactly that resolution. What I've done with my other extensions is take a screenshot thats at least 512x512, and then overlay it onto a blank 1280x800 canvas in GIMP.

[2022-08-19 12:41] markounikau opened #68 "anaconda.org fails to render"
Navigating to https://anaconda.org results in an `Aw, Snap!` page.

[2022-08-19 13:34] midzer commented on #68
Not for me. Just tested in Incognito without any extensions using latest Thorium on debian.

[2022-08-19 13:56] markounikau commented on #68
My Thorium version: 106.0.5212.0 (Official Build) (arm64)

[2022-08-19 14:44] midzer commented on #68
@markounikau okay, thanks for reporting!

We're going to release a fresh M106 Thorium version for Mac soonish (probably this weekend).

[2022-08-19 15:02] markounikau commented on #68
@midzer cool, thanks for the heads-up

[2022-08-20 11:13] TheMadSword commented on #68
May be related to here as the problem seems to be a bit similar, so tell me if you want me to create a separate issue, but when accessing https://finance.yahoo.com/ , I get the page rendered fully for like ~0.1 / 0.2 seconds; then it goes into a "Aw, F***!", with error code 11, nothing in console.

Same Version 106.0.5212.0 (Official Build) (arm64); mac 12.5.1, M1

I also have the same problem wit

[2022-08-22 06:57] Alex313031 commented on #66
@danielstreba Still having trouble making this something not hard coded. Although I have reverted the reload button icon and cookies icon to blue, because using the greenish color of the chrome labs icon makes it too hard to see in light mode.

[2022-08-22 15:55] ThaUnknown opened #70 "bug: HW Accelerated HEVC decoding leading to inaccurate colors being displayed"
**System Details**
 - OS: Windows 10 21H2
 - Thorium Version [M106.0.5237.0](https://github.com/Alex313031/Thorium-Win/tree/M106.0.5237.0)

**Problem**
HEVC Videos inaccurately calculate their color profiles leading to color inaccuracy, or simply making the video look more washed out than it actually is.

**Screenshots**
Left: actual
Right: expected
![image](https://user-images.githubusercontent.c

[2022-08-23 05:59] Alex313031 commented on #70
@ThaUnknown Thanks, I will look into it.

[2022-08-23 06:00] Alex313031 commented on #64
@RudraSwat Messaged you on telegram.

[2022-08-23 06:00] #64 closed

[2022-08-24 13:56] markounikau commented on #68
Still `Aw, Snap!` for anaconda.org and finance.yahoo.com.

Thorium 107.0.5253.0 (Official Build) (arm64), macOS 12.4.

[2022-08-25 08:10] icepie opened #71 "[Linux] 2-finger pinch-zoom is not work"
**System Details**
 - OS: ArchLinux
 - Thorium Version [107.0.5253.0]

**Problem**
2-finger pinch-zoom is not work, but it can srolling..

[2022-08-26 18:48] trimechee opened #72 "Heavy ads, crypto mining, captive portal"
Hello, I know that Thorium Browser has integrated some Ungoogled chromium options but ungoogled chromum has removed an important option: that of the native chromium ad blocker which blocks heavy ads and also blocks crypto currency mining, I asked ungoogled chromium d 'enable the native ad blocker but I was told using ublock extension is enough, the problem is that there are new ads and new crypto

[2022-08-27 13:26] goosesima commented on #43
Same issue.
Graphics Platform: Wayland
Processors: 8 × Intel® Core™ i5-8265U CPU @ 1.60GHz
Graphics Processor: Mesa Intel® UHD Graphics 620

It uses CPU +50% when decoding video and 0% intel-gpu-top video.

[2022-08-31 10:10] Alex313031 commented on #71
@icepie Have you tried it in vanilla chromium. If it doesn't work there, or in chrome, then it is a chromium thing and most likely not something I can fix on my end.

[2022-08-31 10:15] Alex313031 commented on #72
@trimechee Thorium does NOT use these patches. It has the heavy ad blocker and captive portal, just like upstream chromium, for the reasons you outlined above.

[2022-08-31 13:16] icepie commented on #71
my touchpad with chrome and wayland is work fine

[2022-08-31 18:14] trimechee commented on #72
Interesting, thank you very much :)

[2022-08-31 18:14] #72 closed

[2022-09-01 06:05] goodbaikin opened #73 "HEVC software decoding not work on Linux"
**System Details**
 - OS: Arch Linux
 - Thorium Version: 107.0.5253.0
 - CPU: Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz
 - GPU: intel uhd graphics 620

**Problem**
I found the latest release notes show "H.265/HEVC Patch" and tried playing H.265 videos.  The result was no success.  Black screen with only audio.
Media internal logs (chrome://media-internals) say:
`"Warning, FFmpegDemuxer failed to cr

[2022-09-01 10:48] Alex313031 commented on #73
@goodbaikin I'm actually using the same patch that macchrome is using for that. I am aware of this. It only seems to affect the linux releases. I am working on it.

[2022-09-03 11:17] icepie opened #74 "[Linux] dark mode switch follow gtk theme"
**Is your feature request related to a problem? Please describe.**
I found a [patch](https://github.com/qcasey/chromium-patches#gtk-dark-theme) for implement the feat

**Additional Notes**
[patch](https://github.com/qcasey/chromium-patches#gtk-dark-theme)

[2022-09-03 12:48] Alex313031 commented on #74
@icepie Good idea! I will add this to Thorium, and credit you in the copyright header of the modified files

[2022-09-03 12:56] Alex313031 commented on #74
@icepie Here you go > and you can see i credited the original author and you > https://github.com/Alex313031/Thorium/blob/main/src/ui/gtk/native_theme_gtk.cc#L1

[2022-09-03 13:17] icepie commented on #74
wow! thanks my bro!

[2022-09-03 13:27] Alex313031 commented on #74
@icepie Your welcome. Lol this is why i made the new issues templates, to encourage more things like this where people can actively improve thorium without having to actually modify code and push to the repo.

[2022-09-05 10:54] kiufta opened #75 "WebRTC removal"
Dear Alex,

thank you for your work!

Until a few years ago I was using a Chromium version with WebRTC not disabled, but patched out to avoid getting my real IP address [STUNed](https://en.wikipedia.org/wiki/STUN). Then the patch stopped working and I was told that it would be too complicated to _remove_ WebRTC anymore, just disable with a browser extension.

Since you seem to have mastered quite

[2022-09-05 14:44] trytip opened #76 "WHY?"
https://i.imgur.com/BfTWJZV.jpg
![Screenshot from 2022-09-04 11-21-07](https://user-images.githubusercontent.com/34773669/188474422-bf8e10f2-eb48-4ba2-a82f-74df5a43d5a7.jpg)

https://i.imgur.com/UqCE5v0.jpg
![Selection_648](https://user-images.githubusercontent.com/34773669/188475109-6fc152e5-f1a2-45cf-8f8b-6e3c98a8ddc2.jpg)

[2022-09-05 23:49] KarinaAE123 commented on #76
How is this something worth reporting?

I can understand maybe suggesting to change the error message for broken webpages... but there is _nothing_ wrong with the credits at the bottom of the second image. Complaints like this just pointlessly clog up issue trackers.

-_-

[2022-09-06 09:01] Alex313031 commented on #76
@KarinaAE123 @trytip Yeah, what is the issue here. Is the issue because the page crashed, it says aw, fuck, or that I appended my name to the copyright.

Im going to assume all of them, so:

1. Is this page using WebRTC?
2. I added this as an easter egg, I might change it so as not to offend some humans who use thorium.
3. This is not an issue, literally every Chromium based browser adds their own

[2022-09-06 10:04] Alex313031 commented on #71
@icepie Hmm strange. It might be an upstream thing. I am about to make a new release, so test that. If it continues into M108, then i will look more into it.

[2022-09-06 10:05] Alex313031 commented on #75
@kiufta I can look into it. And maybe make you a special build. But I cant promise anything.

[2022-09-06 10:08] icepie commented on #71
Sorry, I was wrong... I tesed chrome again, it dose not work! sorry...

[2022-09-06 10:09] #71 closed

[2022-09-06 10:39] Alex313031 commented on #74
@icepie https://github.com/Alex313031/Thorium/releases/tag/M107.0.5280.0

[2022-09-06 19:37] raisedintheusa commented on #74
I'm not the biggest fan of this change. There's no way to disable this, right? There already is a flag to force dark mode if desired. I like a dark GTK theme for other applications with a more consistent design. And I like having the tab strip/address bar dark on Thorium. But websites are all so different that a global dark mode has a very inconsistent effect. Some sites are not made dark so I sti

[2022-09-08 09:47] Alex313031 commented on #74
@raisedintheusa I can probably set it behind a chrome://flag and name it something like GTK Auto-Dark Mode
.

[2022-09-12 04:38] tomByrer opened #77 "faster linker"
https://github.com/rui314/mold

[2022-09-15 11:14] angryLid opened #78 "Crashed when browsing firebase firestore database console"
The firestore admin webpage, whose url is https://console.firebase.google.com/project/<project_id>/firestore/ , could not be loaded.

it told me "Aw F**k" and error code 11 even after I rebooted my laptop.

However, then I tried open it with Safari, everything works well.

[2022-09-15 23:07] Alex313031 commented on #77
@tomByrer Yes I have tried this. In fact, because of some of the issues I encountered with using LLVM LDFLAGS, I filed an issue which actually led to a patch since other people responded and had similar issues. Unfortunately, even with that patch, it still doesn't parse some of the optimization parameters I use in the main BUILD.gn for LDFLAGS and CFLAGS.

You can use mold for Chromium (and Thoriu

[2022-09-15 23:12] #76 closed

[2022-09-15 23:17] Alex313031 commented on #78
@angryLid So you are on Mac? In the future, would you please file issues in the Thorium-Special repo. Although this hosts the source code, I have seperate repos for linux, windows, avx2, and specia (which includes MacOS and Raspberry Pi builds).

Anyway, alot of people have been having issues with google sites that use google cloud services as a backend, i.e. google sheets, google console, google

[2022-09-16 02:48] angryLid commented on #78
@Alex313031 Excuse me. I'm using MacBook Air (M1, 2020) macOS Monterey 12.6, Thorium 107.0.5253.0 (arm64)

[2022-09-20 12:46] tomByrer opened #79 "[Watch/Future] keep Manifest v2"
Google's in development Manifest v3 will remove the ability to redirect/block URLs:

https://www.youtube.com/watch?v=8KWCLhHrblE&list=PLakykuPxo3chMNq-SOFIkkh3QgwSqXV0n&index=1&t=331s

[2022-09-20 23:46] Alex313031 commented on #79
@tomByrer Yeah I know. Im a user of ublock origin. Theres alot of other extensions I also use that probably wont get updated. Its a shitty move by google. I will be adding the enterprise policy patch to keep MV2 for as long as possible, but unless another chromium fork comes up with a patch, I dont think I would be able to create one myself. In that case, I might just use the last version of thori

[2022-09-21 17:56] 3andero opened #80 "Crash on JetStream 2 benchmark"
**System Details**
 - OS: OS X Monterey 12.4 (21F79)
 - Thorium Version: Version 107.0.5279.0 (Official Build) (arm64)
 - MacBook Air (m1)

**Problem**
1. go to https://thorium.rocks/misc/JetStream2/
2. "Start Test"
3. "AW, Fuck" Error code: 11

**Screenshots**
![image](https://user-images.githubusercontent.com/31029660/191576428-eaaeff9d-2003-4b21-85c7-c155217f135c.png)

**Additional Notes**
Than

[2022-09-23 00:04] Alex313031 commented on #80
@3andero Interesting. I keep seeing more and more bugs on the MacOS M1 versions of Thorium. Its annoying lol. Because especially since there are not many other places to get a chromium build for M1.

[2022-09-23 02:39] DoisPontinhos opened #81 "Update Thorium"
Hey, is there a way to update Thorium Win without having to uninstall and download the new version ?
btw loving the browser

[2022-09-23 08:10] tomByrer commented on #77
Good to know, cheers~!

[2022-09-23 13:14] DoisPontinhos commented on #81
Found out I can just close Thorium and run the .exe again to update :3

Love the browser :D keep up the awesome work <3

[2022-09-23 13:14] #81 closed

[2022-09-27 23:36] Delphox commented on #9
Btw I finally got to install the [SSE3 108 release](https://github.com/Alex313031/Thorium-Special/releases/tag/M108.0.5312.0) on my old laptop running Linux Mint and it works! Very nice getting video acceleration out of the box without launch commands too! :)

[2022-10-05 14:56] ghost opened #82 "fingerprinting deception mitigations"

[2022-10-06 17:05] Alex313031 commented on #82
@arm64-v9a I can take a look at these and see if I can add them to thorium.

[2022-10-06 17:21] Alex313031 commented on #74
@icepie @raisedintheusa These patches should make a flag to enable/disable the feature. > https://github.com/Alex313031/Thorium/commit/29e1d91afc5dc349bcf92c03f9b01b456a7a5be1  &  https://github.com/Alex313031/Thorium/commit/d5fe7f8e0049058b4bb0ffc59fca0d2b7d510a99

[2022-10-09 00:52] icepie commented on #74
good work！

[2022-10-09 13:34] fastcat001 opened #83 "AVX or AVX2 build?"
First things first - **A MASSIVE THANK YOU! PLEASE MAINTAIN THORIUM FOREVER**

My device supports both AVX and AVX2 Thorium builds.

Which one should I use?

[2022-10-09 13:49] fastcat001 commented on #83
@gz83 I will start using AVX2 as is.

Will new AVX2 update also update chrome store add-on and keep all my
browser settings and plugins?

I'm also interested in if add-ons auto update or not.

[2022-10-09 15:03] fastcat001 commented on #83
@gz83 I think @Alex313031 has this plugin integrated if I'm not mistaken:

https://github.com/NeverDecaf/chromium-web-store

[2022-10-11 03:30] Alex313031 commented on #83
@fastcat001 No, I do not have that plugin enabled, because I do not use the patches from ungoogled chromium that disable the web store. Thorium installs and auto updated all extensions just like google chrome, and in addition thorium has google sync just like google chrome, so if you are signed in your extensions will be synced across devices. AVX2 version should only be used on 4th gen intel and

[2022-10-11 05:10] #83 closed

[2022-10-14 09:18] vampywiz17 commented on #73
I hope it possible to fix it! (same problem)

[2022-10-18 04:05] Alex313031 commented on #74
@icepie @raisedintheusa @tomByrer Latest release has this patch. It will be turned off by default (using the old behavior where one can manually control dark mode with the chrome://flags#force-dark-mode flag), but you can turn this flag on to allow auto gtk dark mode setting > chrome://flags#auto-dark-mode

[2022-10-18 04:09] Alex313031 commented on #80
@3andero See if latest release fixes issues.

[2022-10-18 04:09] Alex313031 commented on #78
@angryLid See if latest release fixes issues.

[2022-10-18 04:14] Alex313031 commented on #75
@kiufta While it may be possible, this is not something within my knowledge to know how to do. My advice would just be to not use pages that use webrtc, or use those pages in another browser.

However, if you point me to where you got the releases/source code, I may be able to make a patch to avoid getting STUNed.

I would be happy to apply a patch like that to increase privacy. However, even if I

[2022-10-18 04:14] Alex313031 commented on #70
@ThaUnknown Updated ffmpeg patch and made minor adjustment. It should play HEVC with software decoding now, which is good for everyone, but it also might have resolved your color issue. Can you test latest release?

[2022-10-18 04:17] Alex313031 commented on #66
@danielstreba @gz83 Checking back in. Gz83, this is something still on the roadmap. Now that we have worked out pretty much all bugs and issues except all the win avx2 issues, I will be focusing more of my attention on developing a chrome://flags flag to toggle top bar icons. Its just a matter of finding where in source code this applies. It is not WebUI, but rather native chrome views. I feel tha

[2022-10-18 04:18] Alex313031 commented on #63
@trimechee I looked into this, and unfortunately this would not be possible without setting a global hard set variable in the source code, which would affect alot more sites and users negatively than your specific use case. So while it is possible, it is not something I am going to add to thorium. I am sorry I couldnt deliver better news. I would reccomend using another browser, or looking into th

[2022-10-18 04:20] Alex313031 commented on #62
@trimechee --enable-native-gpu-memory-buffers is available for all OSes. I will make a chrome://flag to turn this on/off in the UI

Back forward cache is enabled by default as of M108.

Closed tab cache is probably not something you want.

Low end device mode should only be used on chromeos with less than 4GB RAM

Disk cache should not be messed with.

The media cache flags, I do not have experien

[2022-10-18 04:23] Alex313031 commented on #60
@StarterX4 @tomByrer @Delphox I added a flag to control this. chrome://flags/#password-store

[2022-10-18 08:35] ThaUnknown commented on #70
using https://github.com/Alex313031/Thorium-Win/releases/tag/M109.0.5362.0
the issue doesn't seem fixed:
![image](https://user-images.githubusercontent.com/6506529/196379883-1622cc44-8afe-4ef7-af61-a5337f5c127e.png)
![image](https://user-images.githubusercontent.com/6506529/196380013-0e650aa2-e4fd-4de0-8fe6-8d32aceccaba.png)

[2022-10-18 09:00] ThaUnknown commented on #70
@gz83 ah yes. url.

[2022-10-18 10:00] ThaUnknown commented on #70
yes, because it was a sarcastic stab at the fact that one didn't exist, but here, 24h to download then it expires:
https://wormhole.app/a4blj#mgEcOYPFL1OKUb-gb9Tu_g

[2022-10-18 11:40] ThaUnknown commented on #70
woah we have a 3rd result which also isnt correct
I'll make a gradient here:
![image](https://user-images.githubusercontent.com/6506529/196419631-124d8cce-ad4f-4e45-afe2-0051bffe7bfc.png)
order is windows/linux/target

[2022-10-18 12:39] raisedintheusa commented on #74
Thanks, works good!

[2022-10-18 18:23] 3andero commented on #80
Unfortunately it's still crashing:
Version 109.0.5361.0 (Official Build) (arm64)

[2022-10-19 18:06] trimechee opened #84 "Adblock source dev tools"
Hello, I heard that the web browser  Google Chrome Developer tools blocks ads by default without any extensions, and so I myself tested google chrome dev browser and indeed, it blocks ads, with manifest v3 and extensions adsblock will be less effective, can Thorium browser integrate the Google Chrome Dev browser code to block ads at source and without the need for adblock extensions please?

https

[2022-10-20 10:59] suotroel opened #86 "No AppImages?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like, including relevant patches or source**
A clear and concise description of what you want to happen.

**Additional Notes**
Add any other context or screenshots about the feature request here.

[2022-10-20 18:52] Neucher opened #87 "Can't get past cloudflare Performance & security"
Tried on a new profile. Works on Librewolf

Here's an example domain that uses cloudflare: https://users.nexusmods.com/auth/sign_in

[2022-10-22 05:42] newyorkthink opened #88 "make Appimage"
appimage run anywhere

deb or rpm is old format

appimage is modern format now!!!!

[2022-10-24 02:34] RobloxEnderman commented on #79
You could add an ad blocker built into the browser (kinda like brave), then just add an option to turn it on on first setup. That will at least help with the ad block issue.

[2022-10-24 11:28] trimechee opened #90 "ceno network vpn"
Hello, i find CENO (Censorship.No!) is a mobile web browser, built on Mozilla's Firefox for Android (Fennec). It uses peer-to-peer technology to deliver websites to your phone and caches popular content with cooperating peers. CENO can be used to bypass Internet censorship and help others retrieve blocked pages.

Sadly, there is no desktop version of this browser and Ouinet is an open source libra

[2022-10-25 15:00] SoulInfernoDE opened #91 "[Error/Warning] Update repository needs some extra work to get the hash check working (w: the release file has no hash entry)"
**System Details**
 - OS: Linux
 - Version 109.0.5361.0 (Official build) unstable, built on Ubuntu 22.04, running on bookworm/sid (64-Bit)

**Problem**
while doing` sudo apt update` i get this warning `no hash entry in Release-File /var/lib/apt/lists/dl.thorium.rocks_debian_dists_stable_Release`

**Screenshots**
![image](https://user-images.githubusercontent.com/3682343/197807716-5bb789c9-d42a-4d0

[2022-10-25 16:32] midzer commented on #91
Hi @SoulInfernoDE and thx for filing!

I am going to include those `md5`, `sha1` and `sha256` for upcoming release.

Have a nice week
midzer

[2022-10-26 01:19] icepie opened #92 "[Linux] Wayland text_input_manager_v3 support"
**Is your feature request related to a problem? Please describe.**

support text_input_manager_v3 for wayland users, especially CJK users

**Describe the solution you'd like, including relevant patches or source**

https://chromium-review.googlesource.com/c/chromium/src/+/3750452

**Additional Notes**

 maybe the patch will work for it, I didn't test.

[2022-11-01 10:55] bbrx94 opened #93 "Display issues - Arch"
**System Details**
 - Arch Linux / Gnome 43 / Wayland
 - Thorium Version 109.0.5361.0
 - Laptop Intel Tiger Lake Core i5 1135G7
 - Video card Intel embedded CPU

![Capture d’écran du 2022-11-01 11-50-32](https://user-images.githubusercontent.com/107874456/199217700-c1f2deab-3ed7-4db9-b613-2f331a8e89c2.png)

**Problem**
I install Thorium from this Arch package (https://aur.archlinux.org/packages/th

[2022-11-07 09:26] meleehao opened #95 "Disable cups printf functions on build flags if can build ."
As for as know , cups that print server for like-unix system , but now we could not  need it ,Hope you choose enable or disable it , for web browser , cups is unuseal for many people that use browse world wide web  contents .
                                                                                          Thanks!

[2022-11-09 12:07] funymeleehao commented on #95
when i not install cups and run thorimum it depend on libcups that cups software .

[2022-11-21 06:13] chenzaichun commented on #92
Would this patch be merged?

[2022-11-21 07:50] chenzaichun commented on #92
Thanks.